@using Buriza.UI.Resources

@page "/onboard"

@namespace Buriza.UI.Components.Pages

<section class="max-md:h-screen h-[calc(100vh-24px)]">
    <div class="relative container mx-auto h-full w-full flex flex-col items-center justify-center !px-4 !py-8 max-[376px]:!gap-3 !gap-20 sm:!gap-26 sm:justify-between">
        <div class="max-lg:!hidden absolute bottom-0 right-0">
            <MudImage
                Alt="buriza mascot"
                Src="@Mascots.Mascot5"
                Class="w-[330px]"
            />
        </div>
        <MudCarousel 
            @ref="_carousel"
            TData="object" 
            Class="max-[376px]:[&_.mud-carousel-item]:!mt-[10px] mud-width-full h-full [&_.mud-carousel-item]:!mt-[20px] max-h-[545px]  sm:max-h-[580px]"
            ShowArrows="false"
            ShowBullets="false"
            AutoCycle="false"
            EnableSwipeGesture="false"
            SelectedIndexChanged="@OnSlideChanged"
        >
            @*1st slide*@
            <MudCarouselItem Class="max-[376px]:gap-3! flex flex-col items-center justify-center gap-6! md:!gap-18">
                <div class="md:hidden">
                    <MudImage
                        Alt="onboard buriza"
                        Src="@Misc.OnboardLogo"
                        Class="max-[376px]:!w-[280px] !w-[340px]"
                    />
                </div>
                <div class="!text-center !space-y-2 md:hidden">
                    <MudText Class="!text-[32px] !font-semibold">
                        Welcome to Buriza
                    </MudText>
                    <MudText Class="max-[376px]:!text-sm">
                        <span>To get started, create new wallet or</span><br/>
                        <span>import an existing seed phrase</span>
                    </MudText>
                </div>
                <div class="max-md:hidden flex flex-col items-center justify-center">
                    <div>
                        <MudText Class="!text-2xl !text-[var(--mud-palette-text-secondary)]">
                            Welcome to
                        </MudText>
                    </div>
                    <div class="!-mt-6">
                        <MudImage
                            Src="@Logos.BurizaOnboard"
                            ALt="buriza logo"
                            Class="!w-[450px]"
                        />
                    </div>
                    <div class="!mt-4">
                        <MudText Class="!text-2xl !text-[var(--mud-palette-text-primary)] !font-medium">
                            How would you like to add your new wallet?
                        </MudText>
                    </div>
                </div>
                <div class="max-md:hidden w-full flex items-center justify-center !gap-6">
                    <BurizaButton 
                        OnClick="OnNextButtonClicked"
                        Class="max-w-[255px] !py-9 h-[238px]! [&_.mud-button-label]:h-full [&_.mud-button-label]:!justify-between [&_.mud-button-label]:flex-col! rounded-[16px]!">
                        <div>
                            <MudImage
                                Alt="mascot 8"
                                Src="@Mascots.Mascot8"
                                Class="!w-[132px]"
                            />
                        </div>
                        <div>
                            <MudText Class="!text-xl !font-medium !text-[var(--mud-palette-text-primary)]">
                                Import from seed
                            </MudText>
                        </div>
                    </BurizaButton>
                    <BurizaButton 
                        OnClick="OnNextButtonClicked"
                        Class="max-w-[255px] !py-9 h-[238px]! [&_.mud-button-label]:h-full [&_.mud-button-label]:!justify-between [&_.mud-button-label]:flex-col! rounded-[16px]!">
                        <div>
                            <MudImage
                                Alt="mascot 8"
                                Src="@Mascots.Mascot7"
                                Class="!w-[64px]"
                            />
                        </div>
                        <div>
                            <MudText Class="!text-xl !font-medium !text-[var(--mud-palette-text-primary)]">
                                Create new wallet
                            </MudText>
                        </div>
                    </BurizaButton>
                </div>
            </MudCarouselItem>
            @*2nd slide*@
            <MudCarouselItem Class="max-[376px]:gap-3! flex flex-col items-center gap-8!">
                <div class="!text-center !space-y-2 max-w-[360px]">
                    <div class="max-[376px]:!px-[32px] relative">
                        <div>
                            <MudText Class="!text-2xl !font-medium">
                                Save This Phrase
                            </MudText>
                        </div>
                        <div>
                            <MudImage
                                Alt="yellow diamond"
                                Src="@Misc.DiamondYellow"
                                Class="absolute top-0 -left-2 w-[32px] rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="@Misc.DiamondBlue"
                                Class="absolute -top-3 left-5 rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="@Misc.DiamondYellow"
                                Class="absolute top-3 -right-2 rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="@Misc.DiamondPurple"
                                Class="absolute -top-5 right-0 w-[40px] rotate-3"
                            />
                        </div>
                    </div>
                    <div>
                        <MudText Class="max-[376px]:!text-xs !font-light">
                            <span>This is your</span>
                            <span class="!font-semibold">master key. </span>
                            <span>Be sure to</span><br/>
                            <span>save it somewhere safe and secure!</span>
                        </MudText>
                    </div>
                </div>
                <div class="max-[376px]:!gap-1 w-full grid grid-cols-3 place-items-center !gap-2 max-w-[360px]">
                    @foreach (var pair in (RecoveryPhrase ?? Enumerable.Empty<string>())
                         .Select((item, index) => new { item, index }))
                        {
                            <div class="max-[376px]:h-auto w-full max-w-[110px] !py-2 !px-4 h-[36px] bg-[var(--mud-palette-gray-default)] rounded-full">
                                <MudText Class="max-[376px]:!text-xs !text-sm">
                                    <span>@(pair.index + 1).</span>
                                    <span>@pair.item</span>
                                </MudText>
                            </div>
                        }
                </div>
                <div class="w-full flex items-center justify-between max-w-[360px]">
                    <div>
                        <MudText Class="max-[376px]:!text-xs !text-sm !font-medium">
                            Recovery Phrase Length:
                        </MudText>
                    </div>
                    <div>
                        <MudToggleGroup 
                            T="int" 
                            @bind-Value="PhraseLength" 
                            Outlined="false"
                            Class="max-[376px]:w-[138px] max-[376px]:[&_.mud-button-label]:!text-xs w-[150px] !rounded-full h-[24px] [&_.mud-button-label]:!text-[var(--mud-palette-primary-lighten)] [&_.mud-toggle-item-selected_.mud-button-label]:!text-[var(--mud-palette-primary-text)] [&_.mud-button-filled]:!rounded-full [&_.mud-button-filled]:!bg-[var(--mud-palette-primary-lighten)]"
                        >
                            <MudToggleItem Value="12" Class="!rounded-full"/>
                            <MudToggleItem Value="15" Class="!rounded-full"/>
                            <MudToggleItem Value="24" Class="!rounded-full"/>
                        </MudToggleGroup>
                    </div>
                </div>
            </MudCarouselItem>
            @*3rd slide*@
            <MudCarouselItem Class="max-[376px]:gap-3! flex flex-col items-center gap-8!">
                <div class="!text-center !space-y-2 max-w-[360px]">
                    <div class="max-[376px]:!px-[32px] relative">
                        <div>
                            <MudText Class="!text-2xl !font-medium">
                                Recovery Phrase
                            </MudText>
                        </div>
                        <div>
                            <MudImage
                                Alt="yellow diamond"
                                Src="@Misc.DiamondYellow"
                                Class="absolute top-0 -left-2 w-[32px] rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="@Misc.DiamondBlue"
                                Class="absolute -top-3 left-5 rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="@Misc.DiamondYellow"
                                Class="absolute top-3 -right-2 rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="@Misc.DiamondPurple"
                                Class="absolute -top-5 right-0 w-[40px] rotate-3"
                            />
                        </div>
                    </div>
                    <div>
                        <MudText Class="max-[376px]:!text-xs !font-light">
                            <span>Type in the recovery phrase of the</span><br/>
                            <span>walet you wish to import.</span>
                        </MudText>
                    </div>
                </div>
                <div class="w-full max-w-[360px]">
                    <BurizaTextField
                        Lines="18"
                        Placeholder="Type or paste here..."
                        Class="max-[376px]:!max-h-[282px] !max-h-[344px] sm:!max-h-[372px]"
                    />
                </div>
                <div class="w-full flex items-center justify-between max-w-[360px]">
                    <div>
                        <MudText Class="!text-sm !font-medium">
                            Recovery Phrase Length:
                        </MudText>
                    </div>
                    <div>
                        <MudToggleGroup 
                            T="int" 
                            @bind-Value="PhraseLength" 
                            Outlined="false"
                            Class="max-[376px]:w-[138px] max-[376px]:[&_.mud-button-label]:!text-xs w-[150px] !rounded-full h-[24px] [&_.mud-button-label]:!text-[var(--mud-palette-primary-lighten)] [&_.mud-toggle-item-selected_.mud-button-label]:!text-[var(--mud-palette-primary-text)] [&_.mud-button-filled]:!rounded-full [&_.mud-button-filled]:!bg-[var(--mud-palette-primary-lighten)]"
                        >
                            <MudToggleItem Value="12" Class="!rounded-full"/>
                            <MudToggleItem Value="15" Class="!rounded-full"/>
                            <MudToggleItem Value="24" Class="!rounded-full"/>
                        </MudToggleGroup>
                    </div>
                </div>
            </MudCarouselItem>
            @*4th slide*@
            <MudCarouselItem Class="flex flex-col items-center justify-center gap-6!">
                <div>
                    <MudImage
                        Alt="onboard buriza"
                        Src="@Mascots.Mascot2"
                        Class="!w-[219px]"
                    />
                </div>
                <div class="w-full !text-center max-w-[360px]">
                    <div class="!mb-4">
                        <MudText Class="!text-[var(--mud-palette-text-secondary)]">
                            Almost there!
                        </MudText>
                        <MudText Class="!text-[22px] !font-semibold">
                            Now, name your wallet
                        </MudText>
                    </div>
                    <div>
                        <BurizaTextField
                            Placeholder="Wallet name..."
                        />
                    </div>
                </div>
            </MudCarouselItem>
            @*5th slide*@
            <MudCarouselItem Class="flex flex-col items-center gap-8!">
                <div class="w-full flex items-center !gap-4 max-w-[360px]">
                    <MudIconButton
                        Icon="@Icons.Material.Filled.ArrowBack"
                        Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                        OnClick="OnBackButtonClicked"
                    />
                    <MudText Class="!text-xl !font-medium">
                        Create Password    
                    </MudText>
                </div>
                <div class="w-full !space-y-3 max-w-[360px]">
                    <BurizaTextField
                        Placeholder="Password"
                    />
                    <BurizaTextField
                        Placeholder="Confirm Password"
                    />
                </div>
                <div class="w-full max-w-[360px]">
                    <div>
                        <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-sm !font-normal">
                            Additional Option
                        </MudText>
                    </div>
                    <div class="w-full flex items-center justify-between">
                        <MudText Class="!font-semibold">
                            Use Face ID
                        </MudText>
                        <MudSwitch
                            T="bool"
                            Class="!bg-[var(--mud-palette-gray-default)] !border !border-[var(--mud-palette-dark-lighten)] rounded-full [&_.mud-switch-button]:!text-[var(--mud-palette-dark-lighten)] [&_.mud-button-root]:!p-[6px] [&_.mud-switch-span]:!h-[32px] [&_.mud-switch-track]:!bg-transparent"
                        />
                    </div>
                </div>
            </MudCarouselItem>
            @*6th slide*@
            <MudCarouselItem Class="flex flex-col items-center justify-center gap-6!">
                <div class="relative">
                    <MudImage
                        Alt="onboard buriza"
                        Src="@Mascots.Mascot3"
                        Class="max-[376px]:!w-[148px] !w-[176px]"
                    />
                    <MudImage
                        Alt="yellow diamond"
                        Src="@Misc.DiamondYellow"
                        Class="absolute top-0 -left-2"
                    />
                    <MudImage
                        Alt="yellow diamond"
                        Src="@Misc.DiamondYellow"
                        Class="absolute top-9 -left-6"
                    />
                    <MudImage
                        Alt="yellow diamond"
                        Src="@Misc.DiamondYellow"
                        Class="absolute top-4 -right-5"
                    />
                    <MudImage
                        Alt="yellow diamond"
                        Src="@Misc.DiamondYellow"
                        Class="absolute -top-5 right-0"
                    />
                </div>
                <div class="!text-center !space-y-2 max-w-[430px]">
                    <MudText Class="max-[376px]:!text-sm !text-[var(--mud-palette-text-secondary)]">
                        Way to go!
                    </MudText>
                    <MudText Class="max-[376px]:max-w-[200px] max-[376px]:!text-xl !text-2xl !font-medium max-w-[250px] lg:max-w-[430px]">
                        <span>Congratulations </span><br/>
                        <span>your new wallet has been created!</span>
                    </MudText>
                </div>
            </MudCarouselItem>
        </MudCarousel>
        <div class="@($"!space-y-3 w-full max-w-[360px] h-[92px] flex flex-col justify-end {(CurrentSlide == 0 ? "md:hidden" : "")}")">
            @if (ShowSecondaryButton)
            {
                <BurizaButton
                    Variant="Variant.Filled"
                    Color="Color.Secondary"
                    OnClick="OnSecondaryButtonClicked"
                    Class="!w-full"
                >
                    @SecondaryButtonText
                </BurizaButton>
            }
            <BurizaButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                OnClick="OnNextButtonClicked"
                Class="!w-full"
            >
                @PrimaryButtonText
            </BurizaButton>
        </div>
    </div>
</section>