@using Buriza.UI.Resources
@using Buriza.UI.Routing
@using Buriza.UI.Services

@namespace Buriza.UI.Components.Common

<div>
    @*Desktop*@
    <header class="max-lg:hidden !px-6 !py-3 bg-[var(--mud-palette-drawer-background)] rounded-[16px] flex items-center justify-between">
        <div>
            <MudImage
                Alt="Buriza Logo"
                Src="@(AppStateService.IsDarkMode ? Logos.BurizaDark : Logos.BurizaLight)"
                Class="!w-32.5"
            />
        </div>
        <div class="flex items-center !gap-8">
            <div>
                <MudIconButton
                    Icon="@(AppStateService.IsDarkMode ? BurizaIcons.LightModeIcon : BurizaIcons.DarkModeIcon)"
                    OnClick="@ToggleTheme"
                    Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                />
            </div>
            <div class="flex items-center !gap-4">
                <div class="max-w-[48px] max-h-[48px] overflow-hidden rounded-full cursor-pointer" @onclick="OpenManageDrawer">
                    <MudImage
                        Alt="nft profile"
                        Src="@Nfts.Nft1"
                        Class="!w-full aspect-square"
                    />
                </div>
                <div class="w-full">
                    <div class="[&_.mud-select]:!w-full [&_.mud-input]:!pr-0">
                        <BurizaSelect TItem="string"
                            Variant="Variant.Outlined"
                            Value="@("Account01")"
                            AdornmentIcon="@Icons.Material.Filled.KeyboardArrowDown"
                            ToStringFunc="@(item => item)"
                            Class="[&_.mud-input]:!gap-2 [&_input]:!py-[12px] [&_.mud-input-slot]:!py-0 [&_.mud-input-slot]:!px-0 border-none! [&_.mud-input-slot]:!font-bold [&_.mud-input-slot]:text-[var(--mud-palette-text-primary)]! [&_.mud-icon-root]:text-[var(--mud-palette-text-primary)]!"
                        >
                            <MudSelectItem Value="@("Account01")">Account01</MudSelectItem>
                            <MudSelectItem Value="@("Account02")">Account02</MudSelectItem>
                            <MudSelectItem Value="@("Account03")">Account03</MudSelectItem>
                        </BurizaSelect>
                    </div>
                    <div class="flex items-center !gap-2">
                        <MudText Class="!text-xs text-[var(--mud-palette-text-secondary)]!">
                            addr1q9rvp...az138441s15a
                        </MudText>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @*Mobile Navigation*@
    <header class="max-[376px]:bottom-3 fixed w-[calc(100%-32px)] h-16 bottom-8 left-1/2 -translate-x-1/2 p-1! rounded-[16px] backdrop-blur-lg bg-[var(--mud-palette-appbar-background)]/80 shadow-xl! z-100 grid grid-cols-5 max-w-[738px] lg:hidden">
        @*Receive*@
        <MudLink
            Href="@Routes.Onboard"
            Class="flex flex-col items-center justify-center gap-1 !text-[var(--mud-palette-text-primary)] hover:text-[var(--mud-palette-primary)]"
        >
            <MudIcon
                Icon="@BurizaIcons.ReceiveSymbolIcon"
                Size="Size.Medium"
                Class=""
            />
            <span class="@GetSpanClass(Routes.Receive)">Receive</span>
        </MudLink>

        @*Send*@
        <MudLink
            Href="@Routes.Send"
            Class="flex flex-col items-center justify-center gap-[2px] !text-[var(--mud-palette-text-primary)] hover:text-[var(--mud-palette-primary)]"
        >
            <MudIcon
                Icon="@BurizaIcons.Send1Icon"
                Size="Size.Medium"
                Class=""
            />
            <span class="@GetSpanClass(Routes.Send)">Send</span>
        </MudLink>

        @*Buriza*@
        <div class="relative flex items-center justify-center">
            <div class="relative w-12 h-12 flex items-center justify-center cursor-pointer z-30" @onclick="TogglePopup">
                <div class="absolute w-12 h-8 bg-[var(--mud-palette-primary)] rounded-lg top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"/>
                <div class="absolute w-12 h-8 bg-[var(--mud-palette-primary)] rounded-lg rotate-60 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"/>
                <div class="absolute w-12 h-8 bg-[var(--mud-palette-primary)] rounded-lg -rotate-60 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"/>
                <MudIcon Icon="@BurizaIcons.BurizaSymbolIcon" Class="!z-10 !text-[38px] !text-[var(--mud-palette-white)]"/>
            </div>
            @*pop up*@
            <div class="@($"left-1/2 -translate-x-1/2 fixed {(IsPopupVisible ? "bottom-23 opacity-100 duration-200" : "bottom-4 delay-50 opacity-0 duration-100")}") z-10">
                <div class="z-20">
                    <MudIconButton
                        Icon="@BurizaIcons.CloseSymbolIcon"
                        OnClick="TogglePopup"
                        Class="!p-1 !bg-[var(--mud-palette-secondary-lighten)] [&_.mud-icon-root]:!text-xl [&_.mud-icon-root]:!text-[var(--mud-palette-secondary-text)]"
                    />
                </div>

                @*top*@
                <MudLink
                    Href="@Routes.Home"
                    Class="@($"absolute top-0 left-1/2 flex flex-col items-center justify-center !gap-2 transition-all duration-250 ease-out !text-[var(--mud-palette-text-primary)] {(IsPopupVisible ? "-translate-x-1/2 -translate-y-[68px] opacity-100 delay-200" : "-translate-x-1/2 -translate-y-[28px] opacity-0")}")"
                    @onclick="ClosePopup"
                >
                    <MudIcon
                        Icon="@BurizaIcons.AssetIcon"
                        Size="Size.Medium"
                        Class="!text-[var(--mud-palette-white)]"
                    />
                    <span class="text-[11px] !text-[var(--mud-palette-primary-text)] !bg-[var(--mud-palette-primary-lighten)] !rounded-full !px-1 !py-[2px]">Assets</span>
                </MudLink>

                @*left*@
                <MudLink
                    Href="@Routes.Dapp"
                    Class="@($"absolute top-0 left-1/2 flex flex-col items-center justify-center !gap-2 transition-all duration-250 ease-out !text-[var(--mud-palette-text-primary)] {(IsPopupVisible ? "-translate-x-[80px] -translate-y-[12px] opacity-100 delay-150" : "-translate-x-1/2 -translate-y-[28px] opacity-0")}")"
                    @onclick="ClosePopup"
                >
                    <MudIcon
                        Icon="@BurizaIcons.DappSymbolIcon"
                        Size="Size.Medium"
                        Class="!text-[var(--mud-palette-white)]"
                    />
                    <span class="text-[11px] !text-[var(--mud-palette-primary-text)] !bg-[var(--mud-palette-primary-lighten)] !rounded-full !px-1 !py-[2px]">DApp</span>
                </MudLink>

                @*right*@
                <MudLink
                    Href="@Routes.Settings"
                    Class="@($"absolute top-0 left-1/2 flex flex-col items-center justify-center !gap-2 transition-all duration-250 ease-out !text-[var(--mud-palette-text-primary)] {(IsPopupVisible ? "translate-x-[36px] -translate-y-[12px] opacity-100 delay-250" : "-translate-x-1/2 -translate-y-[28px] opacity-0")}")"
                    @onclick="ClosePopup"
                >
                    <MudIcon
                        Icon="@BurizaIcons.SettingsSymbolIcon"
                        Size="Size.Medium"
                        Class="!text-[var(--mud-palette-white)]"
                    />
                    <span class="text-[11px] !text-[var(--mud-palette-primary-text)] !bg-[var(--mud-palette-primary-lighten)] !rounded-full !px-1 !py-[2px]">Settings</span>
                </MudLink>
            </div>
        </div>

        @*History*@
        <MudLink
            Href="@Routes.History"
            Class="flex flex-col items-center justify-center gap-[2px] !text-[var(--mud-palette-text-primary)] hover:text-[var(--mud-palette-primary)]"
        >
            <MudIcon
                Icon="@BurizaIcons.History2Icon"
                Size="Size.Medium"
                Class=""
            />
            <span class="@GetSpanClass(Routes.History)">History</span>
        </MudLink>

        @*Manage*@
        <MudLink
            Href="@Routes.Manage"
            Class="flex flex-col items-center justify-center gap-1 !text-[var(--mud-palette-text-primary)] hover:text-[var(--mud-palette-primary)]"
        >
            <MudIcon
                Icon="@BurizaIcons.StakingSymbolIcon"
                Size="Size.Medium"
                Class=""
            />
            <span class="@GetSpanClass(Routes.Manage)">Manage</span>
        </MudLink>
    </header>
    <MudOverlay ZIndex="100" Visible="IsPopupVisible" DarkBackground="true" AutoClose="true" Class="!transition-all !duration-150 !opacity-80" @onclick="ClosePopup"/>
</div>
