@using Buriza.UI.Resources
@using Buriza.UI.Routing
@using Buriza.UI.Services

@namespace Buriza.UI.Components.Common

<div>
    @*Desktop*@
    <header class="max-lg:hidden !px-6 !py-3 bg-[var(--mud-palette-drawer-background)] rounded-[16px] flex items-center justify-between">
        <div>
            <MudImage
                Alt="Buriza Logo"
                Src="@(AppStateService.IsDarkMode ? Logos.BurizaDark : Logos.BurizaLight)"
                Class="!w-32.5"
            />
        </div>
        <div class="flex items-center !gap-8">
            <div>
                <MudIconButton
                    Icon="@(AppStateService.IsDarkMode ? BurizaIcons.LightModeIcon : BurizaIcons.DarkModeIcon)"
                    OnClick="@ToggleTheme"
                    Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                />
            </div>
            <div class="flex items-center !gap-4">
                <div class="max-w-[48px] max-h-[48px] overflow-hidden rounded-full cursor-pointer" @onclick="OpenManageDrawer">
                    <MudImage
                        Alt="nft profile"
                        Src="@Nfts.Nft1"
                        Class="!w-full aspect-square"
                    />
                </div>
                <div class="w-full">
                    <div class="[&_.mud-select]:!w-full [&_.mud-input]:!pr-0">
                        <BurizaSelect TItem="string"
                            Variant="Variant.Outlined"
                            Value="@("Account01")"
                            AdornmentIcon="@Icons.Material.Filled.KeyboardArrowDown"
                            ToStringFunc="@(item => item)"
                            Class="[&_.mud-input]:!gap-2 [&_input]:!py-[12px] [&_.mud-input-slot]:!py-0 [&_.mud-input-slot]:!px-0 border-none! [&_.mud-input-slot]:!font-bold [&_.mud-input-slot]:text-[var(--mud-palette-text-primary)]! [&_.mud-icon-root]:text-[var(--mud-palette-text-primary)]!"
                        >
                            <MudSelectItem Value="@("Account01")">Account01</MudSelectItem>
                            <MudSelectItem Value="@("Account02")">Account02</MudSelectItem>
                            <MudSelectItem Value="@("Account03")">Account03</MudSelectItem>
                        </BurizaSelect>
                    </div>
                    <div class="flex items-center !gap-2">
                        <MudText Class="!text-xs text-[var(--mud-palette-text-secondary)]!">
                            addr1q9rvp...az138441s15a
                        </MudText>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @*Mobile Navigation*@
    <header class="@($"max-[376px]:bottom-3 fixed h-16 bottom-8 left-1/2 -translate-x-1/2 p-1! rounded-[16px] backdrop-blur-lg shadow-xl! z-100 grid grid-cols-5 max-w-[738px] lg:hidden transition-all duration-300 ease-in-out {(IsPopupVisible || !IsBaseLinksVisible ? "w-20 bg-transparent shadow-none !p-0" : "w-[calc(100%-32px)] bg-[var(--mud-palette-appbar-background)]/80")}")">
        @*Receive*@
        <MudLink
            Href="@Routes.Receive"
            Class="@($"flex flex-col items-center justify-center gap-1 !text-[var(--mud-palette-text-primary)] hover:text-[var(--mud-palette-primary)] transition-all duration-200 {(IsBaseLinksVisible && !IsPopupVisible ? "opacity-100 scale-100" : "opacity-0 pointer-events-none scale-0 w-0")}")"
        >
            <MudIcon
                Icon="@BurizaIcons.ReceiveSymbolIcon"
                Size="Size.Medium"
                Class=""
            />
            <span class="@GetSpanClass(Routes.Receive)">Receive</span>
        </MudLink>

        @*Send*@
        <MudLink
            Href="@Routes.Send"
            Class="@($"flex flex-col items-center justify-center gap-[2px] !text-[var(--mud-palette-text-primary)] hover:text-[var(--mud-palette-primary)] transition-all duration-200 {(IsBaseLinksVisible && !IsPopupVisible ? "opacity-100 scale-100" : "opacity-0 pointer-events-none scale-0 w-0")}")"
        >
            <MudIcon
                Icon="@BurizaIcons.Send1Icon"
                Size="Size.Medium"
                Class=""
            />
            <span class="@GetSpanClass(Routes.Send)">Send</span>
        </MudLink>

        @*Buriza*@
        <div class="relative flex items-center justify-center">
            <div class="relative top-[-11px] w-12 h-12 flex items-center justify-center cursor-pointer z-30" @onclick="HandleBurizaTap">
                <div class="@($"absolute w-18 h-12 rounded-lg top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-colors duration-300 {(IsPopupVisible ? "bg-[var(--mud-palette-white)]" : "bg-[var(--mud-palette-primary)]")}")"/>
                <div class="@($"absolute w-18 h-12 rounded-lg rotate-60 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-colors duration-300 {(IsPopupVisible ? "bg-[var(--mud-palette-white)]" : "bg-[var(--mud-palette-primary)]")}")"/>
                <div class="@($"absolute w-18 h-12 rounded-lg -rotate-60 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-colors duration-300 {(IsPopupVisible ? "bg-[var(--mud-palette-white)]" : "bg-[var(--mud-palette-primary)]")}")"/>
                <MudIcon Icon="@BurizaIcons.BurizaSymbolIcon" Class="@($"!z-10 !text-[38px] transition-colors duration-300 {(IsPopupVisible ? "!text-[var(--mud-palette-primary)]" : "!text-[var(--mud-palette-white)]")}")"/>
            </div>
            @*pop up*@
            <div class="@($"left-1/2 -translate-x-1/2 fixed {(IsPopupVisible ? "bottom-12 opacity-100 duration-200" : "bottom-4 delay-50 opacity-0 duration-100")}") z-10">
                @*far left - Voting*@
                <MudLink
                    Href="@Routes.Voting"
                    Class="@($"absolute top-0 left-1/2 flex flex-col items-center justify-center !gap-2 transition-all duration-250 ease-out !text-[var(--mud-palette-text-primary)] {(IsPopupVisible ? "-translate-x-[128px] -translate-y-[30px] opacity-100 delay-100" : "-translate-x-1/2 -translate-y-[28px] opacity-0")}")"
                    @onclick="ClosePopup"
                >
                    <div class="w-10 h-10 rounded-full bg-[var(--mud-palette-primary-contrast-text)] flex items-center justify-center">
                        <MudIcon
                            Icon="@BurizaIcons.VotingSymbolIcon"
                            Class="!text-[20px] !text-[var(--mud-palette-white)]"
                        />
                    </div>
                    <span class="text-[11px] !text-[var(--mud-palette-table-lines)]">Voting</span>
                </MudLink>

                @*left - DApps*@
                <MudLink
                    Href="@Routes.Dapp"
                    Class="@($"absolute top-0 left-1/2 flex flex-col items-center justify-center !gap-2 transition-all duration-250 ease-out !text-[var(--mud-palette-text-primary)] {(IsPopupVisible ? "-translate-x-[82px] -translate-y-[84px] opacity-100 delay-150" : "-translate-x-1/2 -translate-y-[28px] opacity-0")}")"
                    @onclick="ClosePopup"
                >
                    <div class="w-10 h-10 rounded-full bg-[var(--mud-palette-primary-contrast-text)] flex items-center justify-center">
                        <MudIcon
                            Icon="@BurizaIcons.DappSymbolIcon"
                            Class="!text-[20px] !text-[var(--mud-palette-white)]"
                        />
                    </div>
                    <span class="text-[11px] !text-[var(--mud-palette-table-lines)]">DApps</span>
                </MudLink>

                @*top center - Assets*@
                <MudLink
                    Href="@Routes.Home"
                    Class="@($"absolute top-0 left-1/2 flex flex-col items-center justify-center !gap-2 transition-all duration-250 ease-out !text-[var(--mud-palette-text-primary)] {(IsPopupVisible ? "-translate-x-1/2 -translate-y-[114px] opacity-100 delay-200" : "-translate-x-1/2 -translate-y-[28px] opacity-0")}")"
                    @onclick="ClosePopup"
                >
                    <div class="w-10 h-10 rounded-full bg-[var(--mud-palette-primary-contrast-text)] flex items-center justify-center">
                        <MudIcon
                            Icon="@BurizaIcons.AssetIcon"
                            Class="!text-[20px] !text-[var(--mud-palette-white)]"
                        />
                    </div>
                    <span class="text-[11px] !text-[var(--mud-palette-table-lines)]">Assets</span>
                </MudLink>

                @*right - Settings*@
                <MudLink
                    Href="@Routes.Settings"
                    Class="@($"absolute top-0 left-1/2 flex flex-col items-center justify-center !gap-2 transition-all duration-250 ease-out !text-[var(--mud-palette-text-primary)] {(IsPopupVisible ? "translate-x-[38px] -translate-y-[84px] opacity-100 delay-250" : "-translate-x-1/2 -translate-y-[28px] opacity-0")}")"
                    @onclick="ClosePopup"
                >
                    <div class="w-10 h-10 rounded-full bg-[var(--mud-palette-primary-contrast-text)] flex items-center justify-center">
                        <MudIcon
                            Icon="@BurizaIcons.SettingsSymbolIcon"
                            Class="!text-[20px] !text-[var(--mud-palette-white)]"
                        />
                    </div>
                    <span class="text-[11px] !text-[var(--mud-palette-table-lines)]">Settings</span>
                </MudLink>

                @*far right - Staking*@
                <MudLink
                    Href="@Routes.Staking"
                    Class="@($"absolute top-0 left-1/2 flex flex-col items-center justify-center !gap-2 transition-all duration-250 ease-out !text-[var(--mud-palette-text-primary)] {(IsPopupVisible ? "translate-x-[88px] -translate-y-[30px] opacity-100 delay-300" : "-translate-x-1/2 -translate-y-[28px] opacity-0")}")"
                    @onclick="ClosePopup"
                >
                    <div class="w-10 h-10 rounded-full bg-[var(--mud-palette-primary-contrast-text)] flex items-center justify-center">
                        <MudIcon
                            Icon="@BurizaIcons.StakingSymbolIcon"
                            Class="!text-[20px] !text-[var(--mud-palette-white)]"
                        />
                    </div>
                    <span class="text-[11px] !text-[var(--mud-palette-table-lines)]">Staking</span>
                </MudLink>
            </div>
        </div>

        @*History*@
        <MudLink
            Href="@Routes.History"
            Class="@($"flex flex-col items-center justify-center gap-[2px] !text-[var(--mud-palette-text-primary)] hover:text-[var(--mud-palette-primary)] transition-all duration-200 {(IsBaseLinksVisible && !IsPopupVisible ? "opacity-100 scale-100" : "opacity-0 pointer-events-none scale-0 w-0")}")"
        >
            <MudIcon
                Icon="@BurizaIcons.History2Icon"
                Size="Size.Medium"
                Class=""
            />
            <span class="@GetSpanClass(Routes.History)">History</span>
        </MudLink>

        @*Manage*@
        <MudLink
            Href="@Routes.Manage"
            Class="@($"flex flex-col items-center justify-center gap-1 !text-[var(--mud-palette-text-primary)] hover:text-[var(--mud-palette-primary)] transition-all duration-200 {(IsBaseLinksVisible && !IsPopupVisible ? "opacity-100 scale-100" : "opacity-0 pointer-events-none scale-0 w-0")}")"
        >
            <MudIcon
                Icon="@BurizaIcons.StakingSymbolIcon"
                Size="Size.Medium"
                Class=""
            />
            <span class="@GetSpanClass(Routes.Manage)">Manage</span>
        </MudLink>
    </header>
    <MudOverlay ZIndex="100" Visible="IsPopupVisible" DarkBackground="true" AutoClose="true" Class="!transition-all !duration-150 !opacity-80" @onclick="CloseAll"/>
</div>
