@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources
@using Buriza.Data.Models.Common

@page "/send"

@namespace Buriza.UI.Components.Pages

<section class="min-h-[600px] h-screen">
    @if(!IsQrScan)
    {
        <div class="max-[376px]:!gap-2 max-[376px]:!pb-4 max-[376px]:!pt-4 container mx-auto h-full w-full flex flex-col items-center !pb-8 !pt-16 !gap-3 lg:max-w-[430px]">
            <div class="w-full flex items-center justify-between !px-4">
                <div class="flex items-center !gap-2">
                    <div>
                        <MudIconButton
                            Icon="@BurizaIcons.ChevronRightIcon"
                            OnClick="() => IsConfirmed = false" Href="/"
                            Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                        />
                    </div>
                    <div>
                        <MudText Class="!text-[22px] !font-medium">
                            Send Assets
                        </MudText>
                    </div>
                </div>
                @if(!IsConfirmed)
                {
                    <div>
                        <MudIconButton
                            Icon="@BurizaIcons.AddSymbolIcon"
                            Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                            OnClick="AddRecipient"
                        />
                    </div>
                }
            </div>
            <div class="max-[376px]:flex-1 max-[376px]:!pb-14 !mt-5 w-full overflow-y-auto h-[calc(100%-170px)] !space-y-4 !px-4 !pb-12">
                @foreach (Recipient recipient in recipients)
                {
                    <MudCard
                        Class="!w-full !bg-[var(--mud-palette-drawer-background)] !rounded-[12px] !p-4 !gap-3 !shadow-[var(--mud-elevation-2)]"
                    >
                        <div class="!mt-2 flex items-center justify-between">
                            <MudText Class="!text-sm">
                                Recipient @recipient.Id
                            </MudText>
                            @if (recipients.Count > 1 && !IsConfirmed)
                            {
                                <MudIconButton
                                    Icon="@BurizaIcons.DeleteSymbolIcon"
                                    Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-secondary)]"
                                    OnClick="() => RemoveRecipient(recipient)"
                                />
                            }
                        </div>
                    @if(IsConfirmed)
                    {
                        <div>
                            <MudText Class="h-6 !font-light flex items-center justify-between">
                                <span class="!text-xs !text-[var(--mud-palette-text-secondary)]">To: </span>
                                <span class="!text-sm">addr1q...17xpubmzsrqt9jp</span>
                            </MudText>
                        </div>
                    }
                    else
                    {
                        <div class="relative flex items-center justify-between">
                            <BurizaTextField 
                                @bind-Value="recipient.Address"                        
                                Label="Enter Recipient Address"
                                Immediate="true"
                                Class="[&_input]:!pr-8"
                            />
                            <div class="!absolute right-3 top-[50%] translate-y-[-50%] !p-0 flex items-center justify-end !gap-2">
                                @* <MudIconButton
                                    Icon="@BurizaIcons.AddressBookIcon"
                                    Class="!p-0"
                                /> *@
                                <MudIconButton
                                    Icon="@BurizaIcons.QrScannerIcon"
                                    OnClick="() => IsQrScan = true"
                                    Class="max-[376px]:!hidden !p-0 block [&_.mud-icon-root]:!text-white"
                                />
                            </div>
                        </div>
                    }
                    @if(IsConfirmed)
                    {
                        <div class="rounded-[8px] !p-3 bg-[var(--mud-palette-background-gray)] border border-[var(--mud-palette-table-lines)]">
                            <div class="w-full flex items-center justify-between">
                                <div>
                                    <MudText Class="!text-xs !text-[var(--mud-palette-text-secondary)]">
                                        Assets (2)
                                    </MudText>
                                </div>
                            </div>
                            <div class="w-full !space-y-3 !mt-3">
                                <div class="w-full flex items-center justify-between">
                                    <div class="flex items-center !gap-2">
                                        <div>
                                            <MudImage
                                                Alt="SNEK"
                                                Src="@Tokens.Snek"
                                                Class="!shrink-0 w-8 h-8"
                                            />
                                        </div>
                                        <div>
                                            <MudText Class="!text-sm !font-semibold">
                                                SNEK
                                            </MudText>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-x-2">
                                        <MudText Class="!text-sm !font-semibold !text-end !text-[var(--mud-palette-error)]">
                                            -2.28
                                        </MudText>
                                        <MudText Class="!text-xs !text-end !text-[var(--mud-palette-text-secondary)]">
                                            ≈ $199.02
                                        </MudText>
                                    </div>
                                </div>
                                <div class="w-full flex items-center justify-between">
                                    <div class="flex items-center !gap-2">
                                        <div>
                                            <MudImage
                                                Alt="ADA"
                                                Src="@Tokens.Ada"
                                                Class="!shrink-0 w-8 h-8"
                                            />
                                        </div>
                                        <div>
                                            <MudText Class="!text-sm !font-semibold">
                                                ADA
                                            </MudText>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-x-2">
                                        <MudText Class="!text-sm !font-semibold !text-end !text-[var(--mud-palette-error)]">
                                            -551.28
                                        </MudText>
                                        <MudText Class="!text-xs !text-end !text-[var(--mud-palette-text-secondary)]">
                                            ≈ $199.02
                                        </MudText>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="!space-y-2">
                            @foreach (var entry in recipient.TokenEntries)
                            {
                                <div class="rounded-[8px] !p-3 bg-[var(--mud-palette-gray-default)] border border-[var(--send-token-card-border)] relative">
                                    @if (recipient.TokenEntries.Count > 1)
                                    {
                                        <div class="absolute -top-2 -right-2 ">
                                            <MudIconButton
                                                Icon="@Icons.Material.Filled.Remove"
                                                Class="!p-[5px] !bg-[var(--mud-palette-divider)] [&_.mud-icon-root]:!text-[10px] [&_.mud-icon-root]:!text-white"
                                                OnClick="() => RemoveToken(recipient, entry)"
                                            />
                                        </div>
                                    }
                                    <div class="w-full flex items-center justify-between">
                                        <div>
                                            <MudText Class="!text-xs !text-[var(--mud-palette-text-secondary)]">
                                                Select token
                                            </MudText>
                                        </div>
                                        <div class="flex items-center !gap-2">
                                            <BurizaButton 
                                                Variant="Variant.Outlined"
                                                Class="rounded-[5px]! p-1! min-w-10! w-max! h-6!  bg-transparent! border-[var(--light-border)]! text-[10px]! text-[var(--mud-palette-text-primary)]! font-semibold!"
                                            >
                                                HALF
                                            </BurizaButton>
                                            <BurizaButton
                                                Variant="Variant.Outlined"
                                                Class="rounded-[5px]! p-1! min-w-10! w-max! h-6! bg-transparent! border-[var(--light-border)]! text-[10px]! text-[var(--mud-palette-text-primary)]! font-semibold!"
                                            >
                                                MAX
                                            </BurizaButton>
                                        </div>   
                                    </div>
                                    <div class="w-full flex items-center justify-between !mt-3">
                                        <div>
                                            <BurizaButton
                                                Variant="Variant.Outlined"
                                                Href="/send/assets"
                                                Class="!bg-transparent !border-[var(--light-border)] px-1! !h-9 text-[var(--mud-palette-text-primary)]!"
                                            >
                                                <div class="flex items-center justify-between !gap-2">
                                                    <div class="flex items-center !gap-1">
                                                        <div class="w-[24px] h-[24px] flex items-center justify-center rounded-full overflow-hidden">
                                                            <MudImage
                                                                Alt="@entry.Name"
                                                                Src="@entry.ImageSrc"
                                                                Class="object-contain"
                                                            />
                                                        </div>
                                                        <div>
                                                            <MudText Class="!text-xs !font-semibold">
                                                                @entry.Name
                                                            </MudText>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <MudIcon
                                                            Icon="@Icons.Material.Filled.KeyboardArrowDown"
                                                        />
                                                    </div>
                                                </div>
                                            </BurizaButton>
                                            <MudText Class="!mt-2 !font-light !text-[11px] !w-max !text-[var(--mud-palette-text-secondary)] !font-light">
                                                Balance: @entry.Balance.ToString("N2")
                                            </MudText>
                                        </div>
                                        <div class="flex flex-col h-full justify-between items-end">
                                            <MudNumericField
                                                T="decimal"
                                                @bind-Value="entry.Amount"
                                                Immediate="true"
                                                HideSpinButtons
                                                Variant="Variant.Outlined"
                                                Class="[&_.mud-input-outlined-border]:!border-none [&_.mud-input-control-helper-container]:hidden! [&_input]:!text-[var(--mud-palette-primary-lighten)] [&_input]:!font-black !h-full [&_.mud-input]:!w-full [&_.mud-input-control-input-container]:!h-full [&_.mud-input]:h-full !rounded-[8px] [&_.mud-input-helper-text]:text-[var(--mud-palette-gray-darker)]! [&_input]:text-right [&_input]:!text-[28px] [&_input]:!font-semibold [&_.mud-input-control-input-container]:items-end [mask-image:_linear-gradient(to_right,transparent_0,_black_40px,_black_calc(100%-0px),transparent_100%)] [&_input]:h-10! [&_input]:p-0!"
                                            />
                                            <MudText Class="!mt-2 !font-light !text-[11px] !w-max !text-[var(--mud-palette-text-secondary)] !font-light">
                                                $0.00
                                            </MudText>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    <div class="w-full flex flex-col items-center justify-center">
                        @if(IsConfirmed)
                        {
                            <hr class="w-full border-t border-[var(--mud-palette-gray-default)] my-3"/>
                            <div class="w-full !my-[7.5px]">
                                <div>
                                    <MudText Class="!text-xs !font-medium">
                                        Additional Information
                                    </MudText>
                                </div>
                                <div class="!space-y-1 !mt-3">
                                    <div class="w-full flex items-center justify-between">
                                        <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-xs">
                                            Invalid before
                                        </MudText>
                                        <MudText Class="!text-sm !font-medium">
                                            1/1/2024
                                        </MudText>
                                    </div>
                                    <div class="w-full flex items-center justify-between">
                                        <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-xs">
                                            Expires after
                                        </MudText>
                                        <MudText Class="!text-sm !font-medium">
                                            1/1/2025
                                        </MudText>
                                    </div>
                                    <div class="w-full flex items-center justify-between">
                                        <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-xs">
                                            Fees
                                        </MudText>
                                        <MudText Class="!text-sm !font-medium">
                                            ₳0.034
                                        </MudText>
                                    </div>
                                    <div class="w-full flex items-center justify-between">
                                        <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-xs">
                                            Collateral
                                        </MudText>
                                        <MudText Class="!text-sm !font-medium">
                                            ₳433.00
                                        </MudText>
                                    </div>
                                </div>
                                <div class="w-full flex items-center justify-between !mt-4">
                                    <MudText Class="!text-sm !font-medium">
                                        Total net value
                                    </MudText>
                                    <MudText Class="!text-sm !font-medium !text-[var(--mud-palette-error)]">
                                            - ₳ 1033.00
                                    </MudText>
                                </div>
                            </div>
                        }
                        else
                        {
                            <BurizaButton
                                Ripple="false"
                                Class="text-[var(--mud-palette-primary-lighten)]! !bg-transparent w-max!"
                                OnClick="() => AddToken(recipient)"
                            >
                                + Add Token
                            </BurizaButton>
                        }
                    </div>
                    </MudCard>
                }
            </div>
            <div class="max-[376px]:!bottom-4 w-[calc(100%-32px)] fixed bottom-33 z-20 lg:max-w-[430px]">
                <BurizaButton
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    Class="!w-full"
                    OnClick="HandleSend"
                    Disabled="@(!IsConfirmed && recipients.Any(r=> !r.TokenEntries.Any() || r.TokenEntries.Any(e => e.Amount <= 0) || !IsValidAddress(r.Address)))"
                >
                    @(IsConfirmed ? "Send" : "Confirm")
                </BurizaButton>
            </div>
        </div>
    }
    else
    {
        <div class="relative w-full h-full bg-[var(--mud-palette-overlay-dark)] flex justify-center">
            <div class="h-[calc(100%-200px)] w-full flex items-center justify-center">
                <MudImage
                    Alt="qr scan sample"
                    Src="@Misc.QrScanSend"
                    Class="!w-[332px]"
                />
            </div>
            <div class="max-[376px]:!bottom-[84px] w-[calc(100%-32px)] fixed bottom-30 z-20 lg:max-w-[430px]">
                <BurizaButton
                    Variant="Variant.Filled"
                    Color="Color.Secondary"
                    OnClick="() => IsQrScan=false"
                    Class="!w-full"
                >
                    Upload QR Code
                </BurizaButton>
            </div>
        </div>
    }
    <MudOverlay
        ZIndex="200"
        Visible="ShowOverlay"
        DarkBackground="true"
        AutoClose="false"
        OnClick="HandleOverlayClick"
        Class="!transition-all !duration-150 [&_.mud-overlay-content]:!flex [&_.mud-overlay-content]:!flex-col [&_.mud-overlay-content]:!items-center [&_.mud-overlay-content]:!justify-center [&_.mud-overlay-content]:!gap-30 [&_.mud-overlay-content]:!h-full [&_.mud-overlay-content]:!w-full max-[376px]:!hidden"
    >
        <div class="flex flex-col items-center justify-between !text-center !gap-5 sm:hidden">
            <div>
                <MudIcon 
                    Icon="@BurizaIcons.LockIcon"
                    Class="!text-[var(--mud-palette-white)]"
                />
            </div>
            <div>
                <MudText Class="!text-[var(--mud-palette-white)]">
                    <span>Swipe up for Face ID or</span><br/>
                    <span>Enter Passcode</span>
                </MudText>
            </div>
            <div class="flex items-center !gap-4">
                <div class="size-3 border-2 border-[var(--mud-palette-gray-lighter)] rounded-full"/>
                <div class="size-3 border-2 border-[var(--mud-palette-gray-lighter)] rounded-full"/>
                <div class="size-3 border-2 border-[var(--mud-palette-gray-lighter)] rounded-full"/>
                <div class="size-3 border-2 border-[var(--mud-palette-gray-lighter)] rounded-full"/>
                <div class="size-3 border-2 border-[var(--mud-palette-gray-lighter)] rounded-full"/>
                <div class="size-3 border-2 border-[var(--mud-palette-gray-lighter)] rounded-full"/>
            </div>                
        </div>
        <div class="size-[150px] flex flex-col items-center justify-center rounded-[10px] bg-[var(--mud-palette-gray-light)] !text-center sm:hidden">
            <div>
                <MudImage
                    Alt="face id"
                    Src="@(AppStateService.IsDarkMode ? Misc.IosFaceIdDark : Misc.IosFaceIdLight)"
                />
            </div>
            <div class="mt-3!">
                <MudText>Face ID</MudText>
            </div>
        </div>
        <div/>
    </MudOverlay>
</section>