@using Buriza.UI.Resources
@namespace Buriza.UI.Components.Dialogs

<MudDialog
    Class= "@DialogClass"
    TitleClass="@DialogTitleClass"
    ContentClass="@DialogContentClass"
    ActionsClass="@DialogActionsClass"
>
    <TitleContent>
        <div class="flex items-center justify-between">
            <MudText Class="!text-xl !font-semibold !text-[var(--mud-palette-text-primary)]">
                @Title
            </MudText>
            <MudIconButton
                Icon="@BurizaIcons.CloseSymbolIcon"
                Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-secondary)]"
                OnClick="OnClose"
            />
        </div>
    </TitleContent>
    <DialogContent>
        @DialogContent
    </DialogContent>
    <DialogActions>
        @DialogActions
    </DialogActions>
</MudDialog>
