@using Buriza.Data.Models.Common
@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources
@using Buriza.Data.Models.Enums

@namespace Buriza.UI.Components.Layout

<div class="!mt-[10px] relative w-full h-full !pb-4 !px-6 flex flex-col justify-between items-cente overflow-x-hidden">
    @if(!IsAdvancedMode)
    {
        <div class="w-full flex flex-1 flex-col justify-center">
            <div class="relative !mb-13">
                <MudImage   
                    Alt="glimmer" 
                    Src="@Misc.DiamondClusterOrange"
                    Class="!absolute bottom-[-45px] -left-3" 
                />
                <MudImage 
                    Alt="QR Code" 
                    Src="@Misc.BurizaQrCode" 
                    Class="!mx-auto !h-[265px]" 
                />
                <MudImage 
                    Alt="glimmer" 
                    Src="@Misc.DiamondClusterPurple" 
                    Class="!absolute top-[-67px] -right-[42px]" 
                />
            </div>
            <div>
                <MudText 
                    Class="!text-[22px] !font-semibold !text-[var(--mud-palette-text-primary)]" 
                    Align="Align.Center"
                >
                    @SelectedWalletAccount?.Name
                </MudText>
                <MudText 
                    Class="break-words !p-3 rounded-xl bg-[var(--mud-palette-drawer-background)] !mt-3" 
                    Align="Align.Center"
                >
                    <span class="!text-[var(--mud-palette-tertiary-text)] font-semibold">@SelectedWalletAccount?.Start</span><span class="!text-[var(--mud-palette-drawer-text)]">@SelectedWalletAccount?.Middle</span><span class="!text-[var(--mud-palette-tertiary-text)] font-semibold">@SelectedWalletAccount?.End</span>
                </MudText>
                <MudText
                    Class="w-max !mx-auto !text-xs !text-[var(--mud-palette-tertiary-text)] !font-semibold bg-[var(--mud-palette-drawer-background)] !py-1 !px-4 !mt-[10px] rounded-[99px]"
                >
                    @SelectedWalletAccount?.DerivationPath
                </MudText>
            </div>
        </div>
        <div class="flex justify-between items-end gap-x-2 w-full">
            <BurizaButton Variant="Variant.Filled" Color="Color.Primary" Class="w-full">
                Share QR Code
            </BurizaButton>
            <MudIconButton 
                Icon="@BurizaIcons.CopySymbolIcon" 
                Variant="Variant.Filled"
                Class="!rounded-full !p-2 [&_.mud-icon-root]:!text-[var(--mud-palette-secondary-text)] !bg-[var(--mud-palette-secondary-lighten)]">
            </MudIconButton>
        </div>
    }
    else
    {
        <div class="w-full flex flex-col items-center !gap-y-2 !bg-[var(--mud-palette-dark-darken)] !py-4 !px-3 rounded-xl">
            @foreach(var wallet in Wallets)
            {
                <div class="w-full">
                    <div
                        @onclick="() => ToggleWallet(wallet)" 
                        class="w-full flex items-center justify-between !px-1 cursor-pointer"
                    >
                        <div class="flex items-center !gap-4">
                            <div class="relative">
                                <div class="!py-1">
                                    <MudImage 
                                        Alt="Avatar" 
                                        Src="@wallet.Avatar"
                                        Class="!w-[32px] aspect-square !rounded-full" 
                                    />
                                </div>
                            </div>
                            <div>
                                <MudText Class="!font-medium !text-[var(--mud-palette-text-primary)]">
                                    @wallet.Name
                                </MudText>
                            </div>
                        </div>
                        <div>
                            <MudIcon
                                Icon="@(wallet.IsExpanded ? BurizaIcons.ArrowUp2Icon : BurizaIcons.ArrowDown2Icon)" 
                                Class="!p-0 !bg-transparent [&_.mud-icon-root]:!text-white" 
                                
                            />
                        </div>                    
                    </div>
                    <MudCollapse Expanded="wallet.IsExpanded">
                        <div class="relative !mt-[10px] rounded-[11.5px] overflow-hidden">
                            <div class="!bg-[var(--mud-palette-drawer-background)] !p-4 flex flex-col gap-y-4 w-full max-h-[266px] overflow-y-auto rounded-xl">
                                @foreach(WalletAccount account in wallet.Accounts)
                                {
                                    <MudCard
                                        Class="flex flex-col !bg-transparent cursor-pointer!"
                                        Elevation="0"
                                        Hover="true"
                                        @onclick="() => OnAccountCardClicked(wallet, account)"
                                    >
                                        <div class="flex gap-x-2 !-m-4 !p-4 hover:bg-[var(--mud-palette-gray-default)]! transition-colors">
                                            <div class="flex items-center">
                                                <MudImage 
                                                    Alt="Avatar" 
                                                    Src="@account.Avatar"
                                                    Class="!w-9 aspect-square !rounded-full" 
                                                />
                                            </div>
                                            <div class="flex-1 flex flex-col gap-y-2">
                                                <div class="flex justify-between items-center">
                                                    <MudText>@account.Name</MudText>
                                                    <MudText Class="@(account.IsActive ? "!text-sm !text-[var(--current-text)]" : "hidden")">Current</MudText>
                                                </div>
                                                <div class="flex gap-x-[2px] items-center rounded-[99px] !bg-[var(--buriza-chip-bg)] !px-2 !py-1 w-max"> 
                                                    <MudText Class="!text-xs break-all overflow-wrap-anywhere">
                                                        <span class="!text-[var(--mud-palette-primary-lighten)]">@account.Start...@account.End</span>
                                                    </MudText>
                                                    <MudIconButton 
                                                        Icon="@BurizaIcons.CopySymbolIcon"
                                                        Class="!p-0 [&_.mud-icon-root]:!w-4 [&_.mud-icon-root]:!h-[14px] [&_.mud-icon-root]:!text-[var(--mud-palette-primary-lighten)]" 
                                                        OnClick="() => CopyAddressToClipboard(account.Address)"
                                                    />
                                                    <div class="w-[2.5px] h-[2.5px] bg-white !mr-[2px] rounded-full"></div>
                                                    <MudText 
                                                        Align="Align.Left" 
                                                        Class="!text-[10px] !font-semibold"
                                                    >
                                                        @account.DerivationPath
                                                    </MudText>
                                                </div>                                                                                
                                            </div>                                    
                                        </div>
                                        <hr class="border-t !border-[var(--mud-palette-divider)] !mt-4 @(account == wallet.Accounts.Last() ? "hidden" : "")"/>
                                    </MudCard>
                                }
                            </div>
                            <div class="@(wallet.Accounts.Count > 3 ? "" : "hidden") absolute bottom-0 left-0 right-0 h-10 bg-gradient-to-t from-[var(--mud-palette-drawer-background)] to-transparent pointer-events-none rounded-b-[12px]"></div>
                        </div>
                    </MudCollapse>
                </div>
            }
        </div>
    }
</div>