@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources
@using Buriza.Data.Models.Enums

@page "/receive"

@namespace Buriza.UI.Components.Pages

<section class="h-screen">
    <div class="max-[376px]:!pt-5 max-[376px]:!pb-8 h-full container !mx-auto !py-16 !overflow-x-visible">

        <MudCarousel TData="object" @ref="_carousel" ShowArrows="false" ShowBullets="false" AutoCycle="false"
            EnableSwipeGesture="false" Class="!h-full">

            @* 1st Slide *@
            <MudCarouselItem Class="flex flex-col justify-between">
                <div class="max-[376px]:!mb-13 flex justify-between !px-4">
                    <div class="flex align-center !gap-2">
                        <MudIconButton Icon="@BurizaIcons.ChevronRightIcon"
                            Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]" Href="/" />
                        <MudText Class="!text-[22px] !font-medium">Your Address</MudText>
                    </div>
                    <div class="flex align-center">
                        <MudIconButton Icon="@BurizaIcons.AdvancedSettings2Icon"
                            Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                            OnClick="OnAdvancedModeButtonClicked" />
                    </div>
                </div>

                <div class="max-[376px]:!mb-14 w-full !px-4">
                    <div class="max-[376px]:!mb-8 relative !mb-13">
                        <MudImage 
                            Alt="glimmer" 
                            Src="@Misc.DiamondClusterOrange"
                            Class=" max-[376px]:bottom-[-35px] max-[376px]:left-[15px] !absolute bottom-[-45px] left-[-4px]" 
                        />
                        <MudImage 
                            Alt="QR Code" 
                            Src="@Misc.BurizaQrCode" 
                            Class="max-[376px]:!h-[200px] !h-[250px] !mx-auto" 
                        />

                        <MudImage 
                            Alt="glimmer" 
                            Src="@Misc.DiamondClusterPurple" 
                            Class="max-[376px]:!h-[120px] max-[376px]:!w-auto max-[376px]:top-[-54px] max-[376px]:right-[10px] !absolute top-[-67px] right-[-25px]" 
                        />

                    </div>
                    <div>
                        <MudText
                            Class="!text-[22px] !font-semibold"
                            Align="Align.Center">@SelectedAccount?.Name
                        </MudText>
                        <MudText 
                            Class="!p-3 rounded-xl bg-[var(--mud-palette-drawer-background)] break-words font-light !mt-4" 
                            Align="Align.Center"
                        >
                            <span class="!text-[var(--mud-palette-tertiary-text)] font-semibold" Align="Align.Center">@SelectedAccount?.Start</span><span class="!text-[var(--mud-palette-tertiary-text)]">@SelectedAccount?.Middle</span><span class="!text-[var(--mud-palette-tertiary-text)] !font-semibold">@SelectedAccount?.End</span>
                        </MudText>
                        <MudText
                            Class="w-max !mx-auto !text-xs !text-[var(--mud-palette-tertiary-text)] !font-semibold bg-[var(--mud-palette-drawer-background)] !py-1 !px-4 !mt-[10px] rounded-[99px]"
                        >
                            @SelectedAccount?.DerivationPath
                        </MudText>
                    </div>
                </div>

                <div class="max-[376px]:w-screen max-[376px]:h-auto max-[376px]:!py-0 w-full !py-4 !px-4 flex justify-between items-end gap-x-2 overflow-y-auto">
                    <BurizaButton Variant="Variant.Filled" Color="Color.Primary">
                        Share QR Code
                    </BurizaButton>
                    <MudIconButton Icon="@BurizaIcons.CopySymbolIcon" Variant="Variant.Filled"
                        Class="!rounded-full !p-2 [&_.mud-icon-root]:!text-[var(--mud-palette-secondary-text)] !bg-[var(--mud-palette-secondary-lighten)]">
                    </MudIconButton>
                </div>

            </MudCarouselItem>

            @* 2nd Slide *@
            <MudCarouselItem>
                <div class="flex justify-between !mb-[26px] !px-4">
                    <div class="flex align-center !gap-2">
                        <MudIconButton Icon="@BurizaIcons.ChevronRightIcon"
                            Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                            OnClick="OnBackButtonClicked" />
                        <MudText Class="!text-[22px] !font-medium">Advanced Mode</MudText>
                    </div>
                    <div class="flex align-center">
                        <MudIconButton Icon="@BurizaIcons.CloseSymbolIcon"
                            Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                            OnClick="OnBackButtonClicked" />
                    </div>
                </div>

                <div class="!px-4">
                    <div
                        class="max-[376px]:!p-[13px] w-full flex items-center justify-between !py-4 !px-4 !mb-6 shadow-[var(--mud-elevation-2)] !rounded-[12px] !bg-[var(--mud-palette-lines-inputs)] md:!bg-[var(--mud-palette-dark-text)]">
                        <div class="flex items-center !gap-3">
                            <div class="relative">
                                <div>
                                    <MudImage Alt="Avatar" Src="@Misc.Avatar"
                                        Class="!w-[46px] aspect-square !rounded-full" />
                                </div>
                            </div>
                            <div>
                                <MudText Class="!font-medium">
                                    WalletName1
                                </MudText>
                            </div>
                        </div>
                        <div>
                            <MudIconButton Icon="@BurizaIcons.ChevronLeftIcon" Class="!p-0" />
                        </div>
                    </div>
                </div>

                <div class="max-[376px]:!pb-19 max-[376px]:min-h-[calc(100vh-195px)] max-h-[calc(100vh-314px)] flex flex-col gap-y-3 overflow-y-auto !pb-11 !px-4">
                    @foreach (var account in Accounts)
                    {

                        <MudCard
                            Class="max-[376px]:gap-y-1 flex flex-col gap-y-3 !p-4 !bg-[var(--mud-palette-background-gray)] rounded-xl border border-solid border-[var(--mud-palette-table-lines)] !cursor-pointer shadow-[var(--mud-elevation-2)]"
                            Elevation="0" @onclick="() => OnAccountCardClicked(account.Index)">
                            <div class="flex justify-between items-center">
                                <div class="flex items-center">
                                    <MudImage Alt="Avatar" Src="@account.AvatarUrl"
                                        Class="!w-9 aspect-square !rounded-full !mr-2" />
                                    <MudText Class="font-semibold">@account.Name</MudText>
                                </div>
                                <div>
                                    <MudIconButton Icon="@BurizaIcons.QrScannerIcon"
                                        Class="self-start !p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]" />
                                </div>
                            </div>
                            <div>
                                <MudText Align="Align.Left" Class="!mr-[76px] !text-xs break-words">
                                    <span class="font-bold">@account.Start</span>@account.Middle<span
                                        class="font-bold">@account.End</span>
                                </MudText>
                            </div>
                            <div class="flex justify-between items-center">
                                <MudText Align="Align.Left" Class="!font-semibold !text-xs">@account.DerivationPath
                                </MudText>
                                <MudChip T="object"
                                    Class="@(GetChipColor(account.Status) + " min-w-[63px] max-h-5 !text-[var(--mud-palette-tertiary)]")">
                                    <MudIcon Icon="@GetChipIcon(account.Status)" Class="!w-3 !h-3 !mr-1" />
                                    @switch (account.Status)
                                    {
                                        case AccountStatusType.Used:
                                            <MudText Class="!text-[8px] !font-semibold">Used</MudText>
                                            break;
                                        case AccountStatusType.Unused:
                                            <MudText Class="!text-[8px] !font-semibold">Unused</MudText>
                                            break;
                                        case AccountStatusType.Balance:
                                            <MudText Class="!text-[8px] !font-semibold">@account.Balance.ToString("")</MudText>
                                            break;
                                    }
                                </MudChip>
                            </div>
                        </MudCard>
                    }
                </div>

            </MudCarouselItem>

        </MudCarousel>

    </div>

</section>