@using Buriza.UI.Resources

@page "/history"

@namespace Buriza.UI.Components.Pages

<PageTitle>Buriza</PageTitle>

<section class="h-screen">
    <div class="container mx-auto h-full w-full flex flex-col items-center !px-4 !pb-8 !pt-16 !gap-3">
        <div class="w-full flex items-center justify-between">
            <div class="flex items-center">
                <div>
                    <MudIconButton
                        Icon="@BurizaIcons.ChevronRightIcon"
                        Class="[&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                    />
                </div>
                <div>
                    <MudText Class="!text-[22px] !font-medium">
                        History
                    </MudText>
                </div>
            </div>
            <div class="flex items-center !gap-5">
                <MudIconButton
                    Icon="@BurizaIcons.FilterSymbolIcon"
                    Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                />
                <MudIconButton
                    Icon="@BurizaIcons.CloseSymbolIcon"
                    Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                />
            </div>
        </div>
        <div class="w-full">
            <div class="w-full !mb-4">
                <MudText Class="!text-center !font-medium !text-sm">
                    September 06, 2025
                </MudText>
            </div>
            <div class="!space-y-4">
                @for (int i = 0; i < 2; i++)
                {
                    <div>
                        <div class="w-full flex items-center justify-between !mb-2">
                            <div>
                                <MudText Class="!text-xs !text-[var(--mud-palette-text-secondary)]">
                                    23 minutes ago
                                </MudText>
                            </div>
                            <div class="flex items-center justify-end !gap-2">
                                <MudText Class="!text-xs !text-[var(--mud-palette-text-secondary)]">
                                    9f7a...1b93d2
                                </MudText>
                                <MudIconButton
                                    Icon="@BurizaIcons.CopySymbolIcon"
                                    Class="!p-0 [&_.mud-icon-root]:!text-sm [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]/70"
                                />
                            </div>
                        </div>
                        <div class="rounded-r-[12px] overflow-hidden">
                            <div class="!py-2 !px-4 bg-[var(--mud-palette-dark)] w-full flex items-center justify-between border-l-2 border-[var(--mud-palette-error)]">
                                <div class="flex items-center gap-4!">
                                    <div class="aspect-square rounded-full overflow-hidden w-10 h-10 ">
                                        <MudImage
                                            Alt="ada"
                                            Src="@Tokens.Ada"
                                        />
                                    </div>
                                    <div class="!mt-1">
                                        <MudText Class="!font-semibold !text-sm">
                                            Sent:
                                        </MudText>
                                        <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-sm">
                                            ADA
                                        </MudText>
                                    </div>
                                </div>
                                <div>
                                    <MudText Class="!text-sm !font-semibold !text-[var(--mud-palette-error)] !text-end">
                                        -212.28
                                    </MudText>
                                    <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !w-max !text-end ">
                                        ≈ $199.02
                                    </MudText>
                                </div>
                            </div>
                            <div class="!py-2 !px-4 bg-[#1C1F27] w-full flex items-center justify-between border-l-2 border-[var(--mud-palette-success)]">
                                <div class="flex items-center gap-4!">
                                    <div class="aspect-square rounded-full overflow-hidden w-10 h-10 ">
                                        <MudImage
                                            Alt="ada"
                                            Src="@Tokens.Snek"
                                        />
                                    </div>
                                    <div class="!mt-1">
                                        <MudText Class="!font-semibold !text-sm">
                                            Received:
                                        </MudText>
                                        <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-sm">
                                            SNEK
                                        </MudText>
                                    </div>
                                </div>
                                <div>
                                    <MudText Class="!text-sm !font-semibold !text-[var(--mud-palette-success)] !text-end">
                                        -212.28
                                    </MudText>
                                    <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !w-max !text-end">
                                        ≈ $199.02
                                    </MudText>
                                </div>
                            </div>
                            <div class="!py-2 !px-4 bg-[var(--mud-palette-dark)] w-full flex items-center justify-between border-l-2 border-[var(--mud-palette-error)]">
                                <div class="flex items-center gap-4!">
                                    <div class="aspect-square rounded-full overflow-hidden w-10 h-10 ">
                                        <MudImage
                                            Alt="ada"
                                            Src="@Tokens.Angel"
                                        />
                                    </div>
                                    <div class="!mt-1">
                                        <MudText Class="!font-semibold !text-sm">
                                            Sent:
                                        </MudText>
                                        <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-sm">
                                            ANGEL
                                        </MudText>
                                    </div>
                                </div>
                                <div>
                                    <MudText Class="!text-sm !font-semibold !text-[var(--mud-palette-error)] !text-end">
                                        -212.28
                                    </MudText>
                                    <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !w-max !text-end">
                                        ≈ $199.02
                                    </MudText>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>