@using Buriza.UI.Resources

@page "/history"

@namespace Buriza.UI.Components.Pages

<PageTitle>Buriza</PageTitle>

<section class="h-screen">
    <div class="container mx-auto h-[calc(100%-48px)] overflow-y-auto w-full flex flex-col items-center !px-4 !py-16 !gap-6">
        <div class="w-full flex items-center justify-between">
            <div class="flex items-center !gap-2">
                <div>
                    <MudIconButton
                        Icon="@BurizaIcons.ChevronRightIcon"
                        Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                        OnClick="() => IsSummaryDisplayed = false"
                    />
                </div>
                <div>
                    <MudText Class="!text-[22px] !font-medium">
                        @(IsSummaryDisplayed ? "Sent" : "History")
                    </MudText>
                </div>
            </div>
            <div class="flex items-center !gap-5">
                <MudIconButton
                    Icon="@BurizaIcons.FilterSymbolIcon"
                    Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                />
                <MudIconButton
                    Icon="@BurizaIcons.CloseSymbolIcon"
                    Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                    OnClick="() => IsSummaryDisplayed = false"
                />
            </div>
        </div>
        @if (!IsSummaryDisplayed)
        {
            <div class="w-full !space-y-6">
                @for (int j = 0; j < 3; j++)
                {
                    <div>
                        <div class="w-full !mb-3">
                            <MudText Class="!text-center !font-medium !text-sm">
                                September 06, 2025
                            </MudText>
                        </div>
                        <div class="!space-y-4">
                            @for (int i = 0; i < 2; i++)
                            {
                                <div>
                                    <div class="w-full flex items-center justify-between !mb-2">
                                        <div>
                                            <MudText Class="!text-xs !text-[var(--mud-palette-text-secondary)]">
                                                23 minutes ago
                                            </MudText>
                                        </div>
                                        <div class="flex items-center justify-end !gap-2">
                                            <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !font-medium">
                                                9f7a...1b93d2
                                            </MudText>
                                            <MudIconButton
                                                Icon="@BurizaIcons.CopySymbolIcon"
                                                Class="!p-0 [&_.mud-icon-root]:!text-base [&_.mud-icon-root]:!text-[var(--mud-palette-text-secondary)]/60"
                                            />
                                        </div>
                                    </div>
                                    <div class="rounded-r-[12px] overflow-hidden !shadow-[var(--mud-elevation-2)]">
                                        <BurizaButton 
                                            Class="py-2! px-4! h-max! bg-[var(--mud-palette-dark)]! rounded-none! w-full !flex !items-center !justify-between border-l-2! border-[var(--mud-palette-error)]!"
                                            OnClick="() => IsSummaryDisplayed = true"
                                        >
                                            <div class="flex items-center gap-4!">
                                                <div class="aspect-square rounded-full overflow-hidden w-10 h-10 ">
                                                    <MudImage
                                                        Alt="ada"
                                                        Src="@Tokens.Ada"
                                                    />
                                                </div>
                                                <div class="!mt-1">
                                                    <MudText Class="!text-[var(--mud-palette-text-primary)] !font-semibold !text-sm !text-start">
                                                        Sent:
                                                    </MudText>
                                                    <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-sm !text-start">
                                                        ADA
                                                    </MudText>
                                                </div>
                                            </div>
                                            <div>
                                                <MudText Class="!text-sm !font-semibold !text-[var(--mud-palette-error)] !text-end">
                                                    -212.28
                                                </MudText>
                                                <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !w-max !text-end ">
                                                    ≈ $199.02
                                                </MudText>
                                            </div>
                                        </BurizaButton>
                                        <BurizaButton 
                                            Class="py-2! px-4! h-max! bg-[var(--mud-palette-dark-text)]! rounded-none! w-full !flex !items-center !justify-between border-l-2! border-[var(--mud-palette-success)]!"
                                            OnClick="() => IsSummaryDisplayed = true"
                                        >
                                            <div class="flex items-center gap-4!">
                                                <div class="aspect-square rounded-full overflow-hidden w-10 h-10 ">
                                                    <MudImage
                                                        Alt="ada"
                                                        Src="@Tokens.Snek"
                                                    />
                                                </div>
                                                <div class="!mt-1">
                                                    <MudText Class="!text-[var(--mud-palette-text-primary)] !font-semibold !text-sm !text-start">
                                                        Received:
                                                    </MudText>
                                                    <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-sm !text-start">
                                                        SNEK
                                                    </MudText>
                                                </div>
                                            </div>
                                            <div>
                                                <MudText Class="!text-sm !font-semibold !text-[var(--mud-palette-success)] !text-end">
                                                    -212.28
                                                </MudText>
                                                <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !w-max !text-end">
                                                    ≈ $199.02
                                                </MudText>
                                            </div>
                                        </BurizaButton>
                                        <BurizaButton 
                                            Class="py-2! px-4! h-max! bg-[var(--mud-palette-dark)]! rounded-none! w-full !flex !items-center !justify-between border-l-2! border-[var(--mud-palette-error)]!"
                                            OnClick="() => IsSummaryDisplayed = true"
                                        >
                                            <div class="flex items-center gap-4!">
                                                <div class="aspect-square rounded-full overflow-hidden w-10 h-10 ">
                                                    <MudImage
                                                        Alt="ada"
                                                        Src="@Tokens.Angel"
                                                    />
                                                </div>
                                                <div class="!mt-1">
                                                    <MudText Class="!text-[var(--mud-palette-text-primary)] !font-semibold !text-sm !text-start">
                                                        Sent:
                                                    </MudText>
                                                    <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-sm !text-start">
                                                        ANGEL
                                                    </MudText>
                                                </div>
                                            </div>
                                            <div>
                                                <MudText Class="!text-sm !font-semibold !text-[var(--mud-palette-error)] !text-end">
                                                    -212.28
                                                </MudText>
                                                <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !w-max !text-end">
                                                    ≈ $199.02
                                                </MudText>
                                            </div>
                                        </BurizaButton>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="w-full">
                <div class="w-full !mb-3">
                    <MudText Class="!text-center !font-medium">
                        Summary of your activity
                    </MudText>
                </div>
                <MudCard
                    Class="!bg-[var(--mud-palette-background-gray)] !p-4 !rounded-[12px] !gap-6 !shadow-[var(--mud-elevation-2)]"
                >
                    <div class="!space-y-4">
                        <div class="w-full flex items-center justify-between">
                            <div>
                                <MudText Class="!text-sm">
                                    Transaction ID:
                                </MudText>
                            </div>
                            <div class="flex items-center justify-end !gap-2">
                                <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !font-medium">
                                    9f7a...1b93d2
                                </MudText>
                                <MudIconButton
                                    Icon="@BurizaIcons.CopySymbolIcon"
                                    Class="!p-0 [&_.mud-icon-root]:!text-lg [&_.mud-icon-root]:!text-[var(--mud-palette-text-secondary)]/60"
                                />
                            </div>
                        </div>
                        <div class="w-full flex items-center justify-between">
                            <MudText Class="!text-sm">
                                Timestamp:
                            </MudText>
                            <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !font-medium">
                                03/07/2025 16:17:20
                            </MudText>
                        </div>
                    </div>
                    <div class="!space-y-2">
                        <div class="w-full bg-[var(--mud-palette-background)] rounded-[8px] !px-3 !py-[10px]">
                            <MudText Class="!text-sm">
                                <span class="!text-[var(--mud-palette-text-secondary)]">From:</span>
                                <span>addr1q...8r7z4lgcqrqt9uu</span>
                            </MudText>
                        </div>
                        <div class="w-full bg-[var(--mud-palette-background)] rounded-[8px] !px-3 !py-[10px]">
                            <MudText Class="!text-sm">
                                <span class="!text-[var(--mud-palette-text-secondary)]">To:</span>
                                <span>addr1q...17xpubmzsrqt9jp</span>
                            </MudText>
                        </div>
                    </div>
                    <div class="border border-[var(--mud-palette-table-lines)] !p-3 !rounded-[8px] !space-y-3">
                        <div>
                            <MudText Class="!text-xs !text-[var(--mud-palette-text-secondary)]">
                                Assets
                            </MudText>
                        </div>
                        <div class="w-full flex items-center justify-between">
                            <div class="flex items-center !gap-2">
                                <div class="rounded-full overflow-hidden">
                                    <MudImage
                                        Alt=""
                                        Src="@Tokens.Snek"
                                        Class="!w-8 aspect-square"
                                    />
                                </div>
                                <div>
                                    <MudText Class="!font-semibold !text-sm">
                                        SNEK
                                    </MudText>
                                </div>
                            </div>
                            <div>
                                <MudText Class="!text-end !text-sm !font-semibold">
                                    -551.28
                                </MudText>
                            </div>
                        </div>
                        <div class="w-full flex items-center justify-between">
                            <div class="flex items-center !gap-2">
                                <div class="rounded-full overflow-hidden">
                                    <MudImage
                                        Alt=""
                                        Src="@Tokens.Ada"
                                        Class="!w-8 aspect-square"
                                    />
                                </div>
                                <div>
                                    <MudText Class="!font-semibold !text-sm">
                                        ADA
                                    </MudText>
                                </div>
                            </div>
                            <div>
                                <MudText Class="!text-end !text-sm !font-semibold">
                                    -1,551.28
                                </MudText>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <MudText Class="!text-[11px]">
                                Additional Information
                            </MudText>
                        </div>
                        <div class="!space-y-2 !mt-4">
                            <div class="w-full flex items-center justify-between">
                                <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)]">
                                    Collateral
                                </MudText>
                                <MudText Class="!text-sm !font-medium">
                                    ₳433.00
                                </MudText>
                            </div>
                            <div class="w-full flex items-center justify-between">
                                <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)]">
                                    Expires by
                                </MudText>
                                <MudText Class="!text-sm !font-medium">
                                    No limit
                                </MudText>
                            </div>
                            <div class="w-full flex items-center justify-between">
                                <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)]">
                                    Transaction fee
                                </MudText>
                                <MudText Class="!text-sm !font-medium">
                                    ₳0.034
                                </MudText>
                            </div>
                        </div>
                    </div>
                </MudCard>
            </div>
        }
    </div>
</section>