@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources
@using Buriza.UI.Data.Dummy
@using Buriza.Data.Models.Common
@using Buriza.Data.Models.Enums
@using System.Linq

@page "/history"

@namespace Buriza.UI.Components.Pages

<PageTitle>Buriza</PageTitle>

<section class="max-md:h-screen min-h-[600px] lg:!ml-4 xl:!ml-8">
    <div class="max-md:!pb-8 max-md:!mx-auto max-[376px]:!gap-2 max-[376px]:!pb-4 max-[376px]:!pt-4 h-full w-full flex flex-col items-center !pt-16 !gap-3 md:!pt-0">
        <div class="max-md:!px-4 w-full flex items-center justify-between md:hidden">
            <div class="flex items-center !gap-2">
                <div>
                    <MudIconButton
                        Icon="@BurizaIcons.ChevronRightIcon"
                        Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                        OnClick="() => IsSummaryDisplayed = false"
                    />
                </div>
                <div>
                    <MudText Class="!text-[22px] !font-medium">
                        @(IsSummaryDisplayed ? "Sent" : "History")
                    </MudText>
                </div>
            </div>
            <div class="flex items-center !gap-5">
                <MudIconButton
                    Icon="@BurizaIcons.FilterSymbolIcon"
                    Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                />
                <MudIconButton
                    Icon="@BurizaIcons.CloseSymbolIcon"
                    Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                    OnClick="() => IsSummaryDisplayed = false"
                />
            </div>
        </div>
        <div class="max-md:hidden w-full">
            <BurizaSearchBar/>
        </div>
        <div class="w-full rounded-[16px] h-full md:bg-[var(--mud-palette-drawer-background)] md:!pt-4">
            <div class="max-lg:hidden w-full flex items-center justify-between !mb-4 md:!px-6 h-[38px]">
                <MudText Class="!font-medium !text-[22px]">
                    History
                </MudText>
                <MudIconButton
                    Icon="@BurizaIcons.FilterSymbolIcon"
                    Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                />
            </div>
            @if (!IsSummaryDisplayed)
            {
                <div class="max-[376px]:h-[calc(100vh-124px)] max-md:!px-4 w-full !space-y-6 overflow-y-auto h-[calc(100vh-192px)] !pb-6 md:!pb-14 md:!px-6 lg:h-[calc(100vh-210px)] lg:!pb-6">
                    @foreach (KeyValuePair<string, List<TransactionHistory>> dateGroup in TransactionsByDate)
                    {
                        <div>
                            <div class="w-full !mb-3">
                                <MudText Class="!text-center !font-medium !text-sm">
                                    @dateGroup.Key
                                </MudText>
                            </div>
                            <div class="!space-y-4">
                                @foreach (TransactionHistory transaction in dateGroup.Value)
                                {
                                    <div>
                                        <div class="w-full flex items-center justify-between !mb-2">
                                            <div>
                                                <MudText Class="!text-xs !text-[var(--mud-palette-text-secondary)]">
                                                    @Utils.GetRelativeTime(transaction.Timestamp)
                                                </MudText>
                                            </div>
                                            <div class="flex items-center justify-end !gap-2">
                                                <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !font-medium">
                                                    @transaction.TransactionId
                                                </MudText>
                                                <MudIconButton
                                                    Icon="@BurizaIcons.CopySymbolIcon"
                                                    Class="!p-0 [&_.mud-icon-root]:!text-base [&_.mud-icon-root]:!text-[var(--mud-palette-text-secondary)]/60"
                                                />
                                            </div>
                                        </div>
                                        <div class="rounded-r-[12px] overflow-hidden shadow-sm!">
                                            @foreach (TransactionAsset asset in transaction.Assets)
                                            {
                                                <BurizaButton 
                                                    Class="@($"py-2! px-4! h-max! bg-[var(--mud-palette-lines-default)]! even:bg-[var(--mud-palette-lines-inputs)]! rounded-none! w-full !flex !items-center !justify-between border-l-2! border-[{Utils.GetTransactionTypeColor(transaction.Type)}]! md:bg-[var(--mud-palette-info-lighten)]! md:even:bg-[var(--mud-palette-dark-text)]!")"
                                                    OnClick="() => HandleTransactionClick(transaction)"
                                                >
                                                    <div class="flex items-center gap-4!">
                                                        <div class="aspect-square rounded-full overflow-hidden w-10 h-10 ">
                                                            <MudImage
                                                                Alt="@asset.AssetName"
                                                                Src="@asset.AssetIcon"
                                                            />
                                                        </div>
                                                        <div class="!mt-1">
                                                            <MudText Class="!text-[var(--mud-palette-text-primary)] !font-semibold !text-sm !text-start">
                                                                @Utils.GetTransactionTypeText(transaction.Type)
                                                            </MudText>
                                                            <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-sm !text-start">
                                                                @asset.AssetName
                                                            </MudText>
                                                        </div>
                                                    </div>
                                                    <div class="flex flex-col items-end justify-center">
                                                        <MudText Class="@($"!text-sm !font-semibold !text-end {(transaction.Type == TransactionType.Sent ? "!text-[var(--mud-palette-error)]" : "!text-[var(--mud-palette-success)]")}")">
                                                            @GetAmountDisplay(asset.Amount, transaction.Type)
                                                        </MudText>
                                                        <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !w-max !text-end ">
                                                            ≈ $@asset.UsdValue.ToString("F2")
                                                        </MudText>
                                                    </div>
                                                </BurizaButton>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                @if (SelectedTransaction != null)
                {
                    <div class="max-[376px]:overflow-y-auto max-[376px]:h-[calc(100vh-124px)] max-[376px]:!pt-3 max-[376px]:!pb-6 !px-4 w-full">
                        <div class="w-full !mb-3">
                            <MudText Class="!text-center !font-medium">
                                Summary of your activity
                            </MudText>
                        </div>
                        <MudCard
                            Class="max-[376px]:!gap-4 !bg-[var(--mud-palette-background-gray)] !p-4 !rounded-[12px] !gap-6 shadow-sm!"
                        >
                            <div class="max-[376px]:!space-y-2 !space-y-4">
                                <div class="w-full flex items-center justify-between">
                                    <div>
                                        <MudText Class="!text-sm">
                                            Transaction ID:
                                        </MudText>
                                    </div>
                                    <div class="flex items-center justify-end !gap-2">
                                        <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !font-medium">
                                            @SelectedTransaction.TransactionId
                                        </MudText>
                                        <MudIconButton
                                            Icon="@BurizaIcons.CopySymbolIcon"
                                            Class="!p-0 [&_.mud-icon-root]:!text-lg [&_.mud-icon-root]:!text-[var(--mud-palette-text-secondary)]/60"
                                        />
                                    </div>
                                </div>
                                <div class="w-full flex items-center justify-between">
                                    <MudText Class="!text-sm">
                                        Timestamp:
                                    </MudText>
                                    <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !font-medium">
                                        @SelectedTransaction.Timestamp.ToString("MM/dd/yyyy HH:mm:ss")
                                    </MudText>
                                </div>
                            </div>
                            <div class="!space-y-2">
                                <div class="w-full bg-[var(--mud-palette-background)] rounded-[8px] !px-3 !py-[10px]">
                                    <MudText Class="!text-sm">
                                        <span class="!text-[var(--mud-palette-text-secondary)]">From:</span>
                                        <span>@SelectedTransaction.FromAddress</span>
                                    </MudText>
                                </div>
                                <div class="w-full bg-[var(--mud-palette-background)] rounded-[8px] !px-3 !py-[10px]">
                                    <MudText Class="!text-sm">
                                        <span class="!text-[var(--mud-palette-text-secondary)]">To:</span>
                                        <span>@SelectedTransaction.ToAddress</span>
                                    </MudText>
                                </div>
                            </div>
                            <div class="border border-[var(--mud-palette-table-lines)] !p-3 !rounded-[8px] !space-y-3">
                                <div>
                                    <MudText Class="!text-xs !text-[var(--mud-palette-text-secondary)]">
                                        Assets
                                    </MudText>
                                </div>
                                @foreach (TransactionAsset asset in SelectedTransaction.Assets)
                                {
                                    <div class="w-full flex items-center justify-between">
                                        <div class="flex items-center !gap-2">
                                            <div class="rounded-full overflow-hidden">
                                                <MudImage
                                                    Alt="@asset.AssetName"
                                                    Src="@asset.AssetIcon"
                                                    Class="!w-8 aspect-square"
                                                />
                                            </div>
                                            <div>
                                                <MudText Class="!font-semibold !text-sm">
                                                    @asset.AssetName
                                                </MudText>
                                            </div>
                                        </div>
                                        <div>
                                            <MudText Class="!text-end !text-sm !font-semibold">
                                                @GetAmountDisplay(asset.Amount, SelectedTransaction.Type)
                                            </MudText>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div>
                                <div>
                                    <MudText Class="!text-[11px]">
                                        Additional Information
                                    </MudText>
                                </div>
                                <div class="!space-y-2 !mt-4">
                                    <div class="w-full flex items-center justify-between">
                                        <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)]">
                                            Collateral
                                        </MudText>
                                        <MudText Class="!text-sm !font-medium">
                                            ₳@SelectedTransaction.CollateralAda.ToString("F2")
                                        </MudText>
                                    </div>
                                    <div class="w-full flex items-center justify-between">
                                        <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)]">
                                            Expires by
                                        </MudText>
                                        <MudText Class="!text-sm !font-medium">
                                            No limit
                                        </MudText>
                                    </div>
                                    <div class="w-full flex items-center justify-between">
                                        <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)]">
                                            Transaction fee
                                        </MudText>
                                        <MudText Class="!text-sm !font-medium">
                                            ₳@SelectedTransaction.TransactionFeeAda.ToString("F3")
                                        </MudText>
                                    </div>
                                </div>
                            </div>
                        </MudCard>
                    </div>
                }
            }
        </div>
    </div>
</section>