@using Buriza.UI.Components.Common
@using Buriza.UI.Resources
@namespace Buriza.UI.Components.Layout

<div class="w-full h-full !px-4 !pb-4 flex flex-col items-center justify-between">
    <div class="w-full">
        <div class="w-full flex flex-col items-center justify-center !text-center !gap-6">
            <div>
                <MudImage
                    Alt="DexHunter Logo"
                    Src="@Logos.Hunterdex"
                    Class="!w-20"
                />
            </div>
            <div>
                <MudText Class="!font-bold !text-2xl !text-[var(--mud-palette-text-primary)]">
                    DexHunter
                </MudText>
                <MudText Class="!text-xl !text-[var(--mud-palette-text-secondary)]">
                    Exchanges
                </MudText>
            </div>
        </div>
        <div class="!mt-10 !rounded-[12px] !p-3 !bg-[var(--mud-palette-warning-darken)] w-max mx-auto flex items-center !gap-3">
            <div class="w-6 h-6 min-w-6 rounded-full bg-[var(--mud-palette-warning-lighten)] flex items-center justify-center">
                <MudIcon Icon="@Icons.Material.Rounded.PriorityHigh" Class="!text-sm !text-[var(--mud-palette-warning-darken)]" />
            </div>
            <MudText Class="!text-xs !font-medium !text-[var(--mud-palette-warning-lighten)]">
                Verify the source before granting access to your assets
            </MudText>
        </div>
        <div class="relative rounded-[12px] border border-[var(--mud-palette-divider)] !p-6 !mt-10 !space-y-3">
            <div class="absolute -top-3 left-3 !bg-[var(--mud-palette-background)] !px-2">
                <MudText Class="!text-[var(--mud-palette-text-primary)] !font-semibold">
                    Allow this site to:
                </MudText>
            </div>
            <div class="flex items-start !gap-2">
                <MudImage Alt="" Src="@Misc.DiamondBlue" Class="!w-5 !h-5 !min-w-5 !mt-[1px]" />
                <MudText Class="!text-sm !text-[var(--mud-palette-text-primary)]">See which network the wallet is connected to</MudText>
            </div>
            <div class="flex items-start !gap-2">
                <MudImage Alt="" Src="@Misc.DiamondBlue" Class="!w-5 !h-5 !min-w-5 !mt-[1px]" />
                <MudText Class="!text-sm !text-[var(--mud-palette-text-primary)]">See your wallet UTXOs</MudText>
            </div>
            <div class="flex items-start !gap-2">
                <MudImage Alt="" Src="@Misc.DiamondBlue" Class="!w-5 !h-5 !min-w-5 !mt-[1px]" />
                <MudText Class="!text-sm !text-[var(--mud-palette-text-primary)]">See your wallet balance</MudText>
            </div>
            <div class="flex items-start !gap-2">
                <MudImage Alt="" Src="@Misc.DiamondBlue" Class="!w-5 !h-5 !min-w-5 !mt-[1px]" />
                <MudText Class="!text-sm !text-[var(--mud-palette-text-primary)]">See your wallet different addresses, including reward account</MudText>
            </div>
        </div>
        <div class="!mt-6">
            <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-xs">
                Notice: By authorizing, you grant this application read-access to your wallet’s public data. Your private keys will remain secure, but your financial privacy will be visible to this dapp.
            </MudText>
        </div>
    </div>
    <div class="w-full">
        <BurizaButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            Class="!w-full [&_.mud-button-label]:!gap-2"
        >
            <MudIcon
                Icon="@BurizaIcons.LinkSymbolIcon"
            />
            <span>
                Authorize DexHunter
            </span>
        </BurizaButton>
    </div>
</div>