@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources
@using Buriza.UI.Data.Dummy
@using Buriza.Data.Models.Common
@using Buriza.Data.Models.Enums

@page "/selectasset"

@namespace Buriza.UI.Components.Pages

<section class="min-h-[600px] h-screen">
    <div class="max-[376px]:!gap-2 max-[376px]:!pb-4 max-[376px]:!pt-4 container mx-auto h-full w-full flex flex-col items-center !pb-8 !pt-16 !gap-3 lg:max-w-[430px]">
        <div class="w-full flex items-center justify-between !px-4">
            <div class="flex items-center !gap-2">
                <div>
                    <MudIconButton
                        Icon="@BurizaIcons.ChevronRightIcon"
                        Href="/send"
                        Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                    />
                </div>
                <div>
                    <MudText Class="!text-[22px] !font-medium">
                        Select Assets
                    </MudText>
                </div>
            </div>
        </div>
        <div class="w-full !px-4">
            <BurizaTabs
                Class="!w-full !mb-4 [&_.mud-tab-active]:!bg-transparent [&_.mud-tooltip-root]:!w-full [&_.mud-tabs-tabbar-wrapper]:!gap-2 [&_.mud-tabs-tabbar-wrapper]:!max-w-full [&_.mud-tabs-tabbar-wrapper]:!w-full"
                @bind-ActivePanelIndex="AppStateService.SelectedAssetTypeIndex"
            >
                <MudTabPanel 
                    Text="Token" 
                    Icon="@BurizaIcons.TokenSymbolIcon"
                    Class="w-full bg-[var(--mud-palette-drawer-background)]"
                    Style="border-radius: 30px 10px 10px 30px"
                />
                <MudTabPanel 
                    Text="NFT" 
                    Icon="@BurizaIcons.NftSymbolIcon"
                    Class="w-full bg-[var(--mud-palette-drawer-background)]"
                    Style="border-radius: 10px 30px 30px 10px"
                />
            </BurizaTabs>
            <BurizaSearchBar
                Class="!mb-0 !justify-center [&_input]:!p-0 "
            />
        </div>
        <div class="max-[376px]:min-h-[calc(100%-200px)] !px-4 !space-y-2 h-full max-h-[calc(100%-140px)] !pb-9 w-full overflow-y-auto !rounded-[12px]">
            @if (AppStateService.SelectedAssetType == AssetType.Token)
            {
                @foreach(TokenAsset tokenAsset in TokenAssetData.GetDummyTokenAssets())
                {
                    <BurizaAssetCard
                        IsSelected="@(SelectedAsset == tokenAsset.AssetName)"
                        OnClick="@(() => SelectedAsset = tokenAsset.AssetName)"
                        AssetIcon="@tokenAsset.AssetIcon"
                        AssetName="@tokenAsset.AssetName"
                        PricePercentage="@tokenAsset.PricePercentage"
                        AssetAmount="@tokenAsset.AssetAmount"
                        UsdConversion="@tokenAsset.UsdConversion"
                        Class="h-[74px] !py-2 bg-[var(--mud-palette-drawer-background)]! border! border-[var(--mud-palette-drawer-background)] [&_.asset-icon]:!w-[56px] [&_.asset-icon]:!h-[56px]"
                    />
                }
            }
            else
            {
                @foreach(NftAsset nftAsset in NftAssetData.GetDummyNftAssets())
                {
                    <BurizaAssetCard
                        IsSelected="@(SelectedAsset == nftAsset.AssetName)"
                        OnClick="@(() => SelectedAsset = nftAsset.AssetName)"
                        AssetIcon="@nftAsset.AssetIcon"
                        AssetName="@nftAsset.AssetName"
                        PricePercentage="@nftAsset.PricePercentage"
                        AssetAmount="@nftAsset.AssetAmount"
                        UsdConversion="@nftAsset.UsdConversion"
                        AssetType="AssetType.NFT"
                        CollectionName="@nftAsset.CollectionName"
                        Class="h-[74px] !py-2 bg-[var(--mud-palette-drawer-background)]! border! border-[var(--mud-palette-drawer-background)] [&_.asset-icon]:!w-[56px] [&_.asset-icon]:!h-[56px]"
                    />
                }
            }
        </div>
    </div>
</section>