@using Buriza.UI.Components.Common
@using Buriza.UI.Resources
@using Buriza.UI.Services
@using static Buriza.Data.Models.Enums.DrawerContentType

@namespace Buriza.UI.Components.Layout

<div class="w-full h-full !px-4 !pb-4 flex flex-col items-center justify-between">
    <div class="flex flex-col items-center justify-center !gap-4 flex-1">
        <div class="relative">
            <MudImage
                Alt="blue diamond"
                Src="@Misc.DiamondBlue"
                Class="absolute top-[75px] left-[-50px] scale-[2]"
            />
            <MudImage
                Alt="yellow diamond"
                Src="@Misc.DiamondYellow"
                Class="absolute top-[-7px] left-[-24px] scale-150"
            />
            <MudImage
                Alt="blue diamond"
                Src="@Misc.DiamondBlue"
                Class="absolute top-[-42px] left-[25px] scale-150"
            />
            <MudImage
                Alt="Successful"
                Src="@Mascots.Mascot6"
                Class="!max-w-[120px] !w-full"
            />
            <MudImage
                Alt="yellow diamond"
                Src="@Misc.DiamondYellow"
                Class="absolute top-[20px] right-[-52px] scale-[2]"
            />
            <MudImage
                Alt="orange diamond"
                Src="@Misc.DiamondOrange"
                Class="absolute top-[-70px] right-[-10px]"
            />
            <MudImage
                Alt="purple diamond"
                Src="@Misc.DiamondPurple"
                Class="absolute top-[100px] right-[-40px] scale-[2]"
            />
        </div>
        <div class="!text-center">
            <MudText Class="!text-[32px] !font-semibold !text-[var(--mud-palette-text-primary)]">
                Successfully Sent
            </MudText>
            <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)]">
                <span>Your transaction has been sent to the </span><br/>
                <span>network and will be processed </span><br/>
                <span>in a few seconds.</span>
            </MudText>
        </div>
    </div>
    <div class="w-full !pt-4">
        <BurizaButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            Class="!w-full"
            OnClick="HandleDone"
        >
            Done
        </BurizaButton>
    </div>
</div>