@using Buriza.UI.Resources
@using Buriza.UI.Components.Common

@namespace Buriza.UI.Components.Dialogs

<BurizaBaseDialog 
    Title="Confirm Data"
    OnClose="Cancel"    
>
    <DialogContent>
        <div class="h-full flex flex-col gap-y-6">
            <div>
                <MudText
                    Class="text-xs! tracking-[0.1px]">
                    Once you perform this action, there is no way to reverse it. Please be certain before proceeding.
                </MudText>
            </div>
            <div class="flex w-full gap-x-[9px] bg-[var(--mud-palette-dark-darken)] !p-3 rounded-xl">
                <div class="w-10 h-10 !p-2 rounded-full bg-[var(--buriza-chip-bg)] [&_.mud-icon-root]:text-[var(--search-icon)]!">
                    <MudIcon 
                        Icon="@BurizaIcons.SearchSymbolIcon"
                    />
                </div>
                <div>   
                    <MudText
                        class="!tracking-[0.1px]"
                    >
                        coinecta - Search
                    </MudText>
                    <MudText
                        class="!text-xs text-[var(--mud-palette-text-secondary)]! !tracking-[0.1px]"
                    >
                        https://www.bing.com
                    </MudText>
                </div>
            </div>
            <div class="relative !mb-6">
                <div class="mb-2">
                    <MudText
                        class="!text-xs text-[var(--mud-palette-text-secondary)]"
                    >
                        Address
                    </MudText>
                </div>
                <div class="flex justify-between bg-[var(--mud-palette-dark-darken)] !py-2 !px-2 mb-4 rounded-lg">
                    <MudText
                        class="!text-sm self-center"
                    >
                        addr1q9qvcgu...82ameqf3wyew
                    </MudText>
                    <MudIconButton
                        class="p-1! [&_.mud-icon-root]:!w-[14px] [&_.mud-icon-root]:!h-[14px] [&_.mud-icon-root]:text-white"
                        Icon="@BurizaIcons.CopySymbolIcon"
                        OnClick="CopyAddressToClipboard"
                    />                    
                </div>
                <div>
                    @*Collapsible Card*@
                    <div class="bg-[var(--mud-palette-dark-darken)] rounded-lg">
                        <div class="flex justify-between items-center px-4 !py-[13px]">
                            <MudText
                                class="!text-sm tracking-[0.014px]"
                            >
                                Data
                            </MudText>
                            <MudIconButton
                                Ripple="false"
                                Icon= "@(_expanded ? @BurizaIcons.ArrowDown2Icon : @BurizaIcons.ArrowUp2Icon)"
                                OnClick="ExpandCard"
                                class="!bg-transparent !p-0 [&_.mud-icon-root]:text-white!"                        
                            />
                        </div>
                        <MudCollapse Expanded="_expanded"> 
                            <div>
                                <MudText>
                                    
                                </MudText>
                            </div>
                        </MudCollapse>
                    </div>
                </div>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <BurizaButton Class="flex-1 bg-[var(--mud-palette-overlay-light)]! text-[var(--mud-palette-text-primary)]!" OnClick="Cancel">Cancel</BurizaButton>
        <BurizaButton Class="flex-1" Color="Color.Primary" OnClick="Confirm">Confirm</BurizaButton>
    </DialogActions>
</BurizaBaseDialog>