@using Buriza.UI.Resources
@using Buriza.Data.Models.Enums
@namespace Buriza.UI.Components.Layout

<div class="w-full h-full flex flex-col">
    <div class="!px-4 !space-y-6 flex-1 overflow-auto">
        <div>
            <div class="flex items-center justify-between !mb-3">
                <MudText Class="max-sm:!text-sm !font-medium !text-white">
                    Transaction Type
                </MudText>
                <MudButton Variant="Variant.Text" Class="!p-0 !min-w-0 !normal-case !text-[var(--mud-palette-primary)]" OnClick="ResetTransactionType">
                    Reset
                </MudButton>
            </div>
            <div class="max-sm:[&_.mud-typography]:!text-sm grid grid-cols-2 !gap-1 [&_.mud-button-root]:!text-[var(--mud-palette-warning-lighten)] [&_.mud-typography]:!text-white">
                <MudCheckBox T="bool" @bind-Value="SentSelected" Label="Sent" Color="Color.Primary" Dense="true" />
                <MudCheckBox T="bool" @bind-Value="ReceiveSelected" Label="Receive" Color="Color.Primary" Dense="true" />
                <MudCheckBox T="bool" @bind-Value="SwapsSelected" Label="Voting" Color="Color.Primary" Dense="true" />
                <MudCheckBox T="bool" @bind-Value="StakingSelected" Label="Staking" Color="Color.Primary" Dense="true" />
            </div>
        </div>

        <MudDivider Class="!border-[var(--mud-palette-dark-darken)] !my-2 md:!border-[var(--mud-palette-lines-default)] md:!my-8" />

        <div>
            <div class="flex items-center justify-between !mb-3">
                <MudText Class="max-sm:!text-sm !font-medium !text-white">
                    Date Range
                </MudText>
                <MudButton Variant="Variant.Text" Class="!p-0 !min-w-0 !normal-case !text-[var(--mud-palette-primary)]" OnClick="ResetDateRange">
                    Reset
                </MudButton>
            </div>
            <div class="flex items-center justify-between !gap-2">
                <div>
                    <MudText Class="!mb-1 !text-xs !text-[var(--mud-palette-gray-dark)] !font-medium">
                        From
                    </MudText>
                    <MudDatePicker
                        Placeholder="@DateTime.Now.ToString("MM/dd/yyyy")"
                        @bind-Date="FromDate"
                        Variant="Variant.Outlined"
                        Class="[&_.mud-input]:!bg-[var(--mud-palette-overlay-light)] [&_input]:!text-[var(--mud-palette-gray-dark)] [&_input]:!py-[6px] [&_input]:!px-[16px] [&_.mud-input-label]:!text-[var(--mud-palette-gray-dark)] [&_.mud-icon-root]:!text-[var(--mud-palette-gray-dark)] [&_.mud-input]:rounded-full! [&_.mud-input-control]:!rounded-full [&_.mud-input-slot]:!rounded-full [&_.mud-input-outlined-border]:!rounded-full [&_.mud-input-slot]:!h-12 [&_.mud-input]:!h-12 [&_.mud-input-label-outlined]:![transform:translate(14px,16px)_scale(1)]"
                    />
                </div>
                <div>
                    <MudText Class="!mb-1 !text-xs !text-[var(--mud-palette-gray-dark)] !font-medium">
                        To
                    </MudText>
                    <MudDatePicker
                        Placeholder="@DateTime.Now.ToString("MM/dd/yyyy")"
                        @bind-Date="ToDate"
                        Variant="Variant.Outlined"
                        Class="[&_.mud-input]:!bg-[var(--mud-palette-overlay-light)] [&_input]:!text-[var(--mud-palette-gray-dark)] [&_input]:!py-[6px] [&_input]:!px-[16px] [&_.mud-input-label]:!text-[var(--mud-palette-gray-dark)] [&_.mud-icon-root]:!text-[var(--mud-palette-gray-dark)] [&_.mud-input]:rounded-full! [&_.mud-input-control]:!rounded-full [&_.mud-input-slot]:!rounded-full [&_.mud-input-outlined-border]:!rounded-full [&_.mud-input-slot]:!h-12 [&_.mud-input]:!h-12 [&_.mud-input-label-outlined]:![transform:translate(14px,16px)_scale(1)]"
                    />
                </div>
            </div>
            <MudToggleGroup
                T="string"
                @bind-Value="SelectedDateRange"
                Outlined="false"
                Class="!mt-3 !w-full [&_.mud-button-root]:!py-1 [&_.mud-button-root]:!px-3 !flex items-center [&_.mud-toggle-item]:!normal-case [&_.mud-button-label]:!font-medium [&_.mud-button]:!bg-transparent [&_.mud-button]:!border [&_.mud-button]:!border-[var(--mud-palette-gray-dark)] [&_.mud-button-label]:!text-[var(--mud-palette-text-primary)] [&_.mud-button]:!rounded-full [&_.mud-toggle-item-selected]:!bg-[var(--mud-palette-primary)] [&_.mud-toggle-item-selected]:!border-[var(--mud-palette-primary)] [&_.mud-toggle-item-selected_.mud-button-label]:!text-[var(--mud-palette-tertiary)] [&_.mud-toggle-item]:!flex-1 !gap-2 !h-10 [&_.mud-button-root]:!h-full"
            >
                <MudToggleItem Value="@("Today")" Class="!rounded-full" />
                <MudToggleItem Value="@("This Week")" Class="!rounded-full" />
                <MudToggleItem Value="@("This Month")" Class="!rounded-full" />
            </MudToggleGroup>
        </div>

        <MudDivider Class="!border-[var(--mud-palette-dark-darken)] !my-2 md:!border-[var(--mud-palette-lines-default)] md:!my-8" />

        <div>
            <div class="flex items-center justify-between !mb-3">
                <MudText Class="max-sm:!text-sm !font-medium !text-white">
                    Status
                </MudText>
                <MudButton Variant="Variant.Text" Class="!p-0 !min-w-0 !normal-case !text-[var(--mud-palette-primary)]" OnClick="ResetStatus">
                    Reset
                </MudButton>
            </div>
            <MudRadioGroup T="string" @bind-Value="SelectedStatus" Class="max-sm:[&_.mud-typography]:!text-sm max-sm:[&_.mud-radio]:!gap-1 !flex [&_.mud-radio]:!gap-2 [&_.mud-radio-group]:!gap-1 [&_.mud-radio-group]:!items-start [&_.mud-radio-group]:!flex-col [&_.mud-typography]:!text-white [&_.mud-button-root]:!text-[var(--mud-palette-warning-lighten)]">
                <MudRadio Value="@("Completed")" Color="Color.Primary" Dense="true">Completed</MudRadio>
                <MudRadio Value="@("Pending")" Color="Color.Primary" Dense="true">Pending</MudRadio>
                <MudRadio Value="@("Failed")" Color="Color.Primary" Dense="true">Failed</MudRadio>
            </MudRadioGroup>
        </div>
    </div>

    <div class="!px-4 !py-4 flex !gap-3 mt-auto">
        <BurizaButton
            Variant="Variant.Filled"
            Color="Color.Default"
            Class="flex-1 !rounded-full !normal-case !h-12 !bg-[var(--mud-palette-action-default)] !text-[var(--mud-palette-text-primary)]"
            OnClick="HandleReset"
        >
            Clear All
        </BurizaButton>
        <BurizaButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            Class="flex-1 !rounded-full !normal-case !h-12"
            OnClick="HandleApply"
        >
            Apply Filters
        </BurizaButton>
    </div>
</div>
