@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources

@page "/settings/account"

@namespace Buriza.UI.Components.Pages

<PageTitle>Buriza</PageTitle>

<section class="h-screen">
    <div class="max-[376px]:!pt-4 max-[376px]:!pb-8 h-full container !mx-auto !px-4 !py-16">
        <div class="flex justify-between !mb-[25px]">
            <div class="flex align-center">
                <MudNavLink Href="/settings" Class="!size-fit !p-0 [&_a.mud-nav-link]:!p-0 [&_.mud-nav-link-text]:!m-0">
                    <MudIcon Icon="@BurizaIcons.ChevronRightIcon" Class="mr-4 ml-1" />
                </MudNavLink>
                <MudText Class="!text-[22px] !font-medium">Account Settings</MudText>
            </div>
        </div>

        <div class="max-[376px]:min-h-[calc(100vh-112px)] min-h-[calc(100vh-202px)] flex flex-col gap-6 !overflow-y-auto !pb-12">
            @*profile*@
            <MudPaper Class="!bg-[var(--mud-palette-drawer-background)] !rounded-[16px] !p-4 !shadow-sm !overflow-hidden flex justify-between">
                <div class="flex items-center gap-2">
                    <div>
                        <div class="rounded-full w-[64px] h-[64px] bg-cover bg-center" style="background-image: url('@Profiles.Profile1')" />
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="flex items-center gap-2">
                            <MudText Class="!text-2xl !font-medium">Account 1</MudText>
                        </div>
                        <MudChip
                            T="string"
                            Class="!bg-[var(--buriza-chip-bg)] text-[var(--mud-palette-success-contrasttext)] !px-2 !py-1 !text-[12px] !font-semibold !m-0 [&_.mud-chip-content]:flex [&_.mud-chip-content]:items-center [&_.mud-chip-content]:gap-1 !h-[22px]"
                        >
                            <span class="!text-[var(--mud-palette-primary-lighten)]">
                                addr1j...dfsph9
                            </span>
                            <span class="text-2xl">
                                &#183;
                            </span>
                            <span>
                                m/1852'/1815'/1'
                            </span>
                        </MudChip>
                    </div>
                </div>
                <div>
                    <MudIconButton Icon="@BurizaIcons.ReceiveSymbolIcon" Class="[&_.mud-icon-root]:!text-white p-0!" />
                </div>
            </MudPaper>

            <div class="!space-y-6">
                <BurizaTextField
                    Label="Account Name"
                    Placeholder="Account 1"
                    Class="[&_.mud-input-control-input-container]:bg-[var(--mud-palette-drawer-background)]!"
                />
                <div>
                    <MudText Class="!font-medium !mb-3 !text-[var(--mud-palette-divider)]">SWITCH NFT ICON</MudText>
                    <div class="grid grid-cols-5 !gap-y-3 !gap-x-8">
                        <div class="w-14 h-14 aspect-square rounded-full bg-cover bg-center cursor-pointer" style="background-image: url('@Profiles.Profile1')" />
                        <div class="w-14 h-14 aspect-square rounded-full bg-cover bg-center cursor-pointer" style="background-image: url('@Profiles.Profile2')" />
                        <div class="w-14 h-14 aspect-square rounded-full bg-cover bg-center cursor-pointer" style="background-image: url('@Profiles.Profile3')" />
                        <div class="w-14 h-14 aspect-square rounded-full bg-cover bg-center cursor-pointer" style="background-image: url('@Profiles.Profile4')" />
                        <div class="w-14 h-14 aspect-square rounded-full bg-cover bg-center cursor-pointer" style="background-image: url('@Profiles.Profile5')" />
                        <div class="w-14 h-14 aspect-square rounded-full bg-cover bg-center cursor-pointer" style="background-image: url('@Profiles.Profile6')" />
                        <div class="w-14 h-14 aspect-square rounded-full bg-cover bg-center cursor-pointer" style="background-image: url('@Profiles.Profile7')" />
                        <div class="w-14 h-14 aspect-square rounded-full bg-cover bg-center cursor-pointer" style="background-image: url('@Profiles.Profile8')" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
