@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources

@page "/settings"

@namespace Buriza.UI.Components.Pages

<PageTitle>Buriza</PageTitle>

<section class="h-screen">
    <div class="h-full container !mx-auto !px-4 overflow-y-clip">
        <div class="flex justify-between !pt-16 !mb-[25px]">
            <div class="flex align-center">
                <MudIcon Icon="@BurizaIcons.ChevronRightIcon" Class="mr-4 ml-1" />
                <MudText Class="!text-[22px] !font-medium">Settings</MudText>
            </div>
            <div>
                <MudImage Alt="Avatar" Src="@Misc.Avatar" Class="!h-[30px] !ml-4"></MudImage>
            </div>
        </div>

        <div>
            <BurizaSearchBar/>
            <div class="flex flex-col gap-y-3 min-h-[210px] max-[376px]:max-h-[calc(100vh-252px)] !space-y-2 overflow-y-auto max-h-[calc(100vh-88px)] !rounded-[12px] !pb-11">
                <MudPaper Class="!bg-[var(--mud-palette-dark)] !rounded-[12px] overflow-clip !shadow-xs">
                    <MudNavMenu Dense="true" Class="[&_a.mud-nav-link]:!p-0 [&_.mud-nav-link-text]:!mx-4">
                        <div>
                            <MudNavLink Href="/general" Class="[&_a.mud-nav-link]:!pt-2">
                                <div>
                                    <div class="flex">
                                        <MudIcon Icon="@BurizaIcons.GeneralSettingsIcon"
                                            Class="!text-[var(--mud-palette-primary)]" />
                                        <MudText Class="ml-2">General</MudText>
                                        <MudSpacer />
                                        <MudIcon Icon="@BurizaIcons.ChevronLeftIcon" />
                                    </div>
                                    <div>
                                        <hr class="!border-t !border-[var(--mud-palette-divider)] !mt-2" />
                                    </div>
                                </div>
                            </MudNavLink>
                        </div>

                        <MudNavLink Href="/security" Class="[&_a.mud-nav-link]:!pt-[8.5px]">
                            <div class="flex">
                                <MudIcon Icon="@BurizaIcons.SecurityAndPrivacyIcon"
                                    Class="!text-[var(--mud-palette-primary)]" />
                                <MudText Class="ml-2">Security & Privacy</MudText>
                                <MudSpacer />
                                <MudIcon Icon="@BurizaIcons.ChevronLeftIcon" />
                            </div>
                            <hr class="!border-t !border-[var(--mud-palette-divider)] !mt-2" />
                        </MudNavLink>

                        <MudNavLink Href="/advanced" Class="[&_a.mud-nav-link]:!pt-[8.5px]">
                            <div class="flex">
                                <MudIcon Icon="@BurizaIcons.AdvancedSettings1Icon"
                                    Class="!text-[var(--mud-palette-primary)]" />
                                <MudText Class="ml-2">Advanced</MudText>
                                <MudSpacer />
                                <MudIcon Icon="@BurizaIcons.ChevronLeftIcon" />
                            </div>
                            <hr class="!border-t !border-[var(--mud-palette-divider)] !mt-2" />
                        </MudNavLink>

                        <MudNavLink Href="/node" Class="[&_a.mud-nav-link]:!pt-[8.5px] [&_a.mud-nav-link]:!pb-2">
                            <div class="flex">
                                <MudIcon Icon="@BurizaIcons.NodeSymbolIcon"
                                    Class="!text-[var(--mud-palette-primary)]" />
                                <MudText Class="ml-2">Node</MudText>
                                <MudSpacer />
                                <MudIcon Icon="@BurizaIcons.ChevronLeftIcon" />
                            </div>
                        </MudNavLink>
                    </MudNavMenu>
                </MudPaper>

                <MudPaper Class="!bg-[var(--mud-palette-dark)] !rounded-[12px] overflow-clip !shadow-sm">
                    <MudNavMenu Dense="true" Class="[&_a.mud-nav-link]:!p-0 [&_.mud-nav-link-text]:!mx-4">

                        <MudNavLink Href="/network" Class="[&_a.mud-nav-link]:!pt-2">
                            <div class="flex">
                                <MudIcon Icon="@BurizaIcons.ActiveNetworksIcon"
                                    Class="!text-[var(--mud-palette-primary)]" />
                                <MudText Class="ml-2">Active Networks</MudText>
                                <MudSpacer />
                                <MudIcon Icon="@BurizaIcons.ChevronLeftIcon" />
                            </div>
                            <hr class="!border-t !border-[var(--mud-palette-divider)] !mt-2" />
                        </MudNavLink>

                        <MudNavLink Href="/contacts" Class="[&_a.mud-nav-link]:!pt-[8.5px]">
                            <div class="flex">
                                <MudIcon Icon="@BurizaIcons.ContactPageIcon"
                                    Class="!text-[var(--mud-palette-primary)]" />
                                <MudText Class="ml-2">Contacts</MudText>
                                <MudSpacer />
                                <MudIcon Icon="@BurizaIcons.ChevronLeftIcon" />
                            </div>
                            <hr class="!border-t !border-[var(--mud-palette-divider)] !mt-2" />
                        </MudNavLink>

                        <MudNavLink Href="/dapps" Class="[&_a.mud-nav-link]:!pt-[8.5px] [&_a.mud-nav-link]:!pb-2">
                            <div class="flex">
                                <MudIcon Icon="@BurizaIcons.ConnectedDappsIcon"
                                    Class="!text-[var(--mud-palette-primary)]" />
                                <MudText Class="ml-2">Connected DApps</MudText>
                                <MudSpacer />
                                <MudIcon Icon="@BurizaIcons.ChevronLeftIcon" />
                            </div>
                        </MudNavLink>
                    </MudNavMenu>
                </MudPaper>

                <MudPaper Class="!bg-[var(--mud-palette-dark)] !rounded-[12px] overflow-clip !shadow-md">
                    <MudNavMenu Dense="true" Class="[&_a.mud-nav-link]:!p-0 [&_.mud-nav-link-text]:!mx-4">
                        <MudNavLink Href="/developer" Class="[&_a.mud-nav-link]:!pt-2 [&_a.mud-nav-link]:!pb-2">
                            <div class="flex">
                                <MudIcon Icon="@BurizaIcons.DeveloperSettingsIcon"
                                    Class="!text-[var(--mud-palette-primary)]" />
                                <MudText Class="ml-2">Developer Settings</MudText>
                                <MudSpacer />
                                <MudIcon Icon="@BurizaIcons.ChevronLeftIcon" />
                            </div>
                        </MudNavLink>
                    </MudNavMenu>
                </MudPaper>

                <MudPaper Class="!bg-[var(--mud-palette-dark)] !rounded-[12px] overflow-clip">
                    <MudNavMenu Dense="true" Class="[&_a.mud-nav-link]:!p-0 [&_.mud-nav-link-text]:!mx-4">

                        <MudNavLink Href="/friends" Class="[&_a.mud-nav-link]:!pt-2">
                            <div class="flex">
                                <MudIcon Icon="@BurizaIcons.InviteSymbolIcon"
                                    Class="!text-[var(--mud-palette-primary)]" />
                                <MudText Class="ml-2">Invite Your Friends</MudText>
                                <MudSpacer />
                                <MudIcon Icon="@BurizaIcons.ChevronLeftIcon" />
                            </div>
                            <hr class="!border-t !border-[var(--mud-palette-divider)] !mt-2" />
                        </MudNavLink>

                        <MudNavLink Href="/buriza" Class="[&_a.mud-nav-link]:!pt-[8.5px]">
                            <div class="flex">
                                <MudIcon Icon="@BurizaIcons.BurizaSymbolIcon"
                                    Class="!text-[var(--mud-palette-primary)]" />
                                <MudText Class="ml-2">About Buriza</MudText>
                                <MudSpacer />
                                <MudIcon Icon="@BurizaIcons.ChevronLeftIcon" />
                            </div>
                            <hr class="!border-t !border-[var(--mud-palette-divider)] !mt-2" />
                        </MudNavLink>

                        <MudNavLink Href="/support" Class="[&_a.mud-nav-link]:!pt-[8.5px] [&_a.mud-nav-link]:!pb-2">
                            <div class="flex">
                                <MudIcon Icon="@BurizaIcons.HelpAndSupportIcon"
                                    Class="!text-[var(--mud-palette-primary)]" />
                                <MudText Class="ml-2 !text-[var(--mud-palette-primary)]">Help & Support</MudText>
                                <MudSpacer />
                                <MudIcon Icon="@BurizaIcons.ChevronLeftIcon" />
                            </div>
                        </MudNavLink>
                    </MudNavMenu>
                </MudPaper>
            </div>
        </div>
    </div>
</section>