@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources

@namespace Buriza.UI.Components.Layout

<div class="relative h-full flex flex-col justify-between items-center">
    <div class="w-full h-full max-h-[calc(100vh-154px)] overflow-y-auto !space-y-[10px] !px-4 !pb-12">
        @foreach (var recipient in recipients)
        {
            <MudCard
                Class="!w-full !bg-[var(--mud-palette-drawer-background)] !rounded-[12px] !p-4 !gap-3 !shadow-[var(--mud-elevation-2)]"
            >
                <div class="flex items-center justify-between h-[24px]">
                    <MudText Class="!text-sm">
                        Recipient @recipient.Id
                    </MudText>
                    @if (recipients.Count > 1 && !IsConfirmed)
                    {
                        <MudIconButton
                            Icon="@BurizaIcons.DeleteSymbolIcon"
                            Class="!p-0"
                            OnClick="() => RemoveRecipient(recipient)"
                        />
                    }
                </div>
            @if(IsConfirmed)
            {
                <div>
                    <MudText Class="h-6 !font-light flex items-center justify-between">
                        <span class="!text-xs !text-[var(--mud-palette-text-secondary)]">To: </span>
                        <span class="!text-sm">addr1q...17xpubmzsrqt9jp</span>
                    </MudText>
                </div>
            }
            else
            {
                <div class="relative flex items-center justify-between">
                    <BurizaTextField
                        @bind-Value="recipient.Address"                        
                        Label="Enter Recipient Address"
                        Immediate="true"
                    />
                    
                    @* <MudIconButton
                        Icon="@BurizaIcons.AddressBookIcon"
                        Class="!absolute right-3 top-[50%] translate-y-[-50%] !p-0"
                    /> *@
                </div>
            }
            @if(IsConfirmed)
            {
                <div class="rounded-[8px] !p-4 bg-[var(--mud-palette-background-gray)] border border-[var(--mud-palette-table-lines)]">
                    <div class="w-full flex items-center justify-between">
                        <div>
                            <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)]">
                                Assets (2)
                            </MudText>
                        </div>
                    </div>
                        <div class="w-full !space-y-3 !mt-3">
                        <div class="w-full flex items-center justify-between">
                            <div class="flex items-center !gap-2">
                                <div>
                                    <MudImage
                                        Alt="SNEK"
                                        Src="@Tokens.Snek"
                                        Class="!shrink-0 w-8 h-8"
                                    />
                                </div>
                                <div>
                                    <MudText Class="!text-base !font-semibold">
                                        SNEK
                                    </MudText>
                                </div>
                            </div>
                            <div class="flex items-center gap-x-2">
                                <MudText Class="!text-base !font-semibold !text-end !text-[var(--mud-palette-error)]">
                                    -2.28
                                </MudText>
                                <MudText Class="!text-xs !text-end !text-[var(--mud-palette-text-secondary)]">
                                    ≈ $199.02
                                </MudText>
                            </div>
                        </div>
                        <div class="w-full flex items-center justify-between">
                            <div class="flex items-center !gap-2">
                                <div>
                                    <MudImage
                                        Alt="ADA"
                                        Src="@Tokens.Ada"
                                        Class="!shrink-0 w-8 h-8"
                                    />
                                </div>
                                <div>
                                    <MudText Class="!text-base !font-semibold">
                                        ADA
                                    </MudText>
                                </div>
                            </div>
                            <div class="flex items-center gap-x-2">
                                <MudText Class="!text-base !font-semibold !text-end !text-[var(--mud-palette-error)]">
                                    -551.28
                                </MudText>
                                <MudText Class="!text-xs !text-end !text-[var(--mud-palette-text-secondary)]">
                                    ≈ $199.02
                                </MudText>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="!space-y-3">
                    @foreach (var entry in recipient.TokenEntries)
                    {
                        <div class="rounded-[8px] !p-3 bg-[var(--mud-palette-gray-default)] border border-[var(--send-token-card-border)] relative">
                            @if (recipient.TokenEntries.Count > 1)
                            {
                                <div class="absolute -top-2 -right-2 ">
                                    <MudIconButton
                                        Icon="@Icons.Material.Filled.Remove"
                                        Class="!p-[5px] !bg-[var(--mud-palette-divider)] [&_.mud-icon-root]:!text-[10px]"
                                        OnClick="() => RemoveToken(recipient, entry)"
                                    />
                                </div>
                            }
                            <div class="w-full flex items-center justify-between">
                                <div>
                                    <MudText Class="!text-xs !text-[var(--mud-palette-text-secondary)]">
                                        Select token
                                    </MudText>
                                </div>
                                <div class="flex items-center !gap-2">
                                    <BurizaButton 
                                        Variant="Variant.Outlined"
                                        Class="rounded-[5px]! px-1! min-w-10! w-max! h-6! text-[var(--mud-palette-text-primary)]! border-[var(--light-border)]! bg-transparent! text-[10px]!"
                                    >
                                        HALF
                                    </BurizaButton>
                                    <BurizaButton
                                        Variant="Variant.Outlined"
                                        Class="rounded-[5px]! px-1! min-w-10! w-max! h-6! text-[var(--mud-palette-text-primary)]! border-[var(--light-border)]! bg-transparent! text-[10px]!"
                                    >
                                        MAX
                                    </BurizaButton>
                                </div>   
                            </div>
                            <div class="w-full flex items-center justify-between !mt-3">
                                <div>
                                    <BurizaButton
                                        Variant="Variant.Outlined"
                                        OnClick="@HandleSelectAsset"
                                        Class="!bg-transparent !border-[var(--light-border)] p-1! !h-9 text-[var(--mud-palette-text-primary)]!"
                                    >
                                        <div class="flex items-center justify-between !gap-2">
                                            <div class="flex items-center !gap-1">
                                                <div class="w-[24px] h-[24px] flex items-center justify-center rounded-full overflow-hidden">
                                                    <MudImage
                                                        Alt="@entry.Name"
                                                        Src="@entry.ImageSrc"
                                                        Class="object-contain"
                                                    />
                                                </div>
                                                <div>
                                                    <MudText Class="!text-xs !font-semibold">
                                                        @entry.Name
                                                    </MudText>
                                                </div>
                                            </div>
                                            <div>
                                                <MudIcon
                                                    Icon="@Icons.Material.Filled.KeyboardArrowDown"
                                                />
                                            </div>
                                        </div>
                                    </BurizaButton>
                                    <MudText Class="!mt-2 !font-light !text-[11px] !w-max !text-[var(--mud-palette-text-secondary)] !font-light">
                                        Balance: @entry.Balance.ToString("N2")
                                    </MudText>
                                </div>
                                <div class="flex flex-col h-full justify-between items-end">
                                    <MudNumericField
                                        T="decimal"
                                        @bind-Value="entry.Amount"
                                        Immediate="true"
                                        HideSpinButtons
                                        Variant="Variant.Outlined"
                                        Class="[&_.mud-input-outlined-border]:!border-none [&_.mud-input-control-helper-container]:hidden! [&_input]:!text-[var(--mud-palette-primary-lighten)] [&_input]:!font-black !h-full [&_.mud-input]:!w-full [&_.mud-input-control-input-container]:!h-full [&_.mud-input]:h-full !rounded-[8px] [&_.mud-input-helper-text]:text-[var(--mud-palette-gray-darker)]! [&_input]:text-right [&_input]:!text-[28px] [&_.mud-input-control-input-container]:items-end [mask-image:_linear-gradient(to_right,transparent_0,_black_40px,_black_calc(100%-0px),transparent_100%)] [&_input]:h-10! [&_input]:p-0!"
                                    />
                                    <MudText Class="!mt-2 !font-light !text-[11px] !w-max !text-[var(--mud-palette-text-secondary)] !font-light">
                                        $0.00
                                    </MudText>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            <div class="w-full flex flex-col items-center justify-center">
                @if(IsConfirmed)
                {   
                    <hr class="w-full border-t border-[var(--mud-palette-gray-default)] my-3"/>
                    <div class="w-full !my-[7.5px]">
                        <div>
                            <MudText Class="!text-sm !font-medium">
                                Additional Information
                            </MudText>
                        </div>
                        <div class="!space-y-1 !mt-3">
                            <div class="w-full flex items-center justify-between">
                                <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-xs">
                                    Invalid before
                                </MudText>
                                <MudText Class="!text-sm !font-medium">
                                    1/1/2024
                                </MudText>
                            </div>
                            <div class="w-full flex items-center justify-between">
                                <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-xs">
                                    Expires after
                                </MudText>
                                <MudText Class="!text-sm !font-medium">
                                    1/1/2025
                                </MudText>
                            </div>
                            <div class="w-full flex items-center justify-between">
                                <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-xs">
                                    Fees
                                </MudText>
                                <MudText Class="!text-sm !font-medium">
                                    ₳0.034
                                </MudText>
                            </div>
                            <div class="w-full flex items-center justify-between">
                                <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-xs">
                                    Collateral
                                </MudText>
                                <MudText Class="!text-sm !font-medium">
                                    ₳433.00
                                </MudText>
                            </div>
                        </div>
                        <div class="w-full flex items-center justify-between !mt-4">
                            <MudText Class="!text-sm !font-medium">
                                Total net value
                            </MudText>
                            <MudText Class="!text-sm !font-medium !text-[var(--mud-palette-error)]">
                                    - ₳ 1033.00
                            </MudText>
                        </div>
                    </div>
                }
                else
                {
                    <BurizaButton
                        Ripple="false"
                        Class="text-[var(--mud-palette-primary-lighten)]! !bg-transparent w-max!"
                        OnClick="() => AddToken(recipient)"
                    >
                        + Add Token
                    </BurizaButton>
                }
            </div>
            </MudCard>
        }
    </div>
    <div class="w-full absolute bottom-4 !px-4 !pt-4">
        <BurizaButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            Class="!w-full"
            OnClick="HandleSend"
            Disabled="@(!IsConfirmed && recipients.Any(r => !r.TokenEntries.Any() || r.TokenEntries.Any(e => e.Amount <= 0) || !IsValidAddress(r.Address)))"
        >
            @(IsConfirmed ? "Send" : "Confirm")
        </BurizaButton>
    </div>
</div>