@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources

@page "/"
@page "/popup.html"
@page "/options.html"
@page "/index.html"

@namespace Buriza.UI.Components.Pages

<PageTitle>Buriza</PageTitle>

<section class="max-md:h-screen min-h-[600px] lg:!ml-4 xl:!ml-8">
    <div class="max-md:!px-4 max-md:!pb-8 max-md:!mx-auto max-[376px]:!gap-2 max-[376px]:!pb-4 max-[376px]:!pt-4 h-full w-full flex flex-col items-center !pt-16 !gap-3 md:!pt-0">
        <div class="w-full flex items-center justify-between lg:hidden">
            <div>
                <MudImage
                    Alt="Buriza Logo"
                    Src="@(AppStateService.IsDarkMode ? Logos.BurizaDark : Logos.BurizaLight)"
                    Class="!w-24"
                />
            </div>
            <div class="flex items-center !gap-2">
                <div class="flex items-center !gap-2">
                    <div class="inline-block p-[2px]! rounded-full xl:p-1 relative">
                        <div
                            class="w-2 left-[2px] top-[2px] absolute aspect-square bg-[var(--mud-palette-success)]/60 delay-150! rounded-full animate-ping xl:p-1!" />
                        <div class="w-2 aspect-square bg-[var(--mud-palette-success)] rounded-full" />
                    </div>
                    <div>
                        <MudText Class="!text-[var(--mud-palette-success)]">
                            <span>
                                Block
                            </span>
                            <span>
                                #12345
                            </span>
                        </MudText>
                    </div>
                </div>
                <div>
                    <MudBadge
                        BadgeClass="!bg-[var(--mud-palette-error)] !min-w-2 !px-1 !h-2 !top-[2px] !left-[13px]"
                    >
                        <MudIconButton
                            Icon="@BurizaIcons.NotificationIcon"
                            Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                        />
                    </MudBadge>
                </div>
            </div>
        </div>
        <div class="w-full">
            <BurizaSearchBar/>
        </div>
        <div class="max-md:!hidden w-full">
            <div class="w-full flex items-center h-[249px] !gap-4">
                <MudCard 
                    Class="@($"!bg-[url(/_content/Buriza.UI/images/background/wallet_account_background.webp)] bg-cover bg-center bg-no-repeat !transition-all !duration-500 !ease-in-out cursor-pointer {(IsCard2Expanded ? "w-[25%] xl:w-[20%]" : "w-[100%] xl:w-[70%]")} !h-full !bg-[var(--mud-palette-primary)] !rounded-[16px] !justify-between overflow-hidden")"
                    @onclick="ToggleCardExpansion"
                >
                    <div class="flex items-center justify-between !p-4">
                        <div class="!space-y-2">
                            <MudText Class="!text-[var(--mud-palette-tertiary)] !font-medium">
                                Total balance
                            </MudText>
                            <MudText Class="!text-nowrap !text-[var(--mud-palette-tertiary)] !text-[40px] !font-bold">
                                $ 10,000.00
                            </MudText>
                            <MudChip
                                T="string"
                                Class="!bg-[var(--mud-palette-success-darken)] !text-[var(--mud-palette-success-lighten)] !font-semibold !m-0"
                            >
                                +$1,234.95
                            </MudChip>
                        </div>
                        <div class="h-full flex flex-col items-end justify-between">
                            <div>
                                <MudImage
                                    Alt="nft profile"
                                    Src="@Nfts.Nft1"
                                    Class="!w-21 aspect-square !rounded-[8px]"
                                />
                            </div>
                            <div>
                                <MudChip
                                    T="string"
                                    Class="!bg-[var(--mud-palette-success-darken)] !text-[var(--mud-palette-success-lighten)] !font-semibold !m-0"
                                >
                                    <MudIcon
                                        Icon="@BurizaIcons.ArrowUp1Icon"
                                        Class="!mr-[-2px] !ml-[-6px]"
                                    />
                                    <span>
                                        +28.00%
                                    </span>
                                </MudChip>
                            </div>
                        </div>
                    </div>
                    <div class="bg-[var(--card-wallet-overlay)] !p-4">
                        <div>
                            <MudText Class="!text-[22px] text-[var(--mud-palette-primary-text)]! !font-semibold">
                                Account01
                            </MudText>
                        </div>
                        <div class="flex items-center !gap-2">
                            <MudText Class="text-[var(--mud-palette-primary-text)]!">
                                addr1q9rvp...az138441s15a
                            </MudText>
                            <MudIconButton
                                Icon="@BurizaIcons.CopySymbolIcon"
                                Class="!p-0 [&_.mud-icon-root]:!text-base [&_.mud-icon-root]:text-[var(--mud-palette-primary-text)]/60!"
                            />
                        </div>
                    </div>
                </MudCard>
                <MudCard 
                    Class="@($"!bg-[url(/_content/Buriza.UI/images/background/wallet_account_background.webp)] bg-cover bg-center bg-no-repeat !transition-all !duration-500 ease-in-out cursor-pointer {(IsCard2Expanded ? "w-[100%] xl:w-[70%]" : "w-[25%] xl:w-[20%]")} !h-full !bg-[var(--card-wallet-secondary)] !rounded-[16px] !justify-between overflow-hidden")"
                    @onclick="ToggleCardExpansion"
                >
                    <div class="flex items-center justify-between !p-4">
                        <div class="!space-y-2">
                            <MudText Class="!text-[var(--card-wallet-text)] !font-medium">
                                Total balance
                            </MudText>
                            <MudText Class="!text-nowrap !text-[var(--card-wallet-text)] !text-[40px] !font-bold">
                                $ 10,000.00
                            </MudText>
                            <MudChip
                                T="string"
                                Class="!bg-[var(--card-wallet-chip)] !text-[var(--mud-palette-success-lighten)] !font-semibold !m-0"
                            >
                                +$1,234.95
                            </MudChip>
                        </div>
                        <div class="h-full flex flex-col items-end justify-between">
                            <div>
                                <MudImage
                                    Alt="nft profile"
                                    Src="@Nfts.Nft1"
                                    Class="!w-21 aspect-square !rounded-[8px]"
                                />
                            </div>
                            <div>
                                <MudChip
                                    T="string"
                                    Class="!bg-[var(--mud-palette-success-darken)] !text-[var(--mud-palette-success-lighten)] !font-semibold !m-0"
                                >
                                    <MudIcon
                                        Icon="@BurizaIcons.ArrowUp1Icon"
                                        Class="!mr-[-2px] !ml-[-6px]"
                                    />
                                    <span>
                                        +28.00%
                                    </span>
                                </MudChip>
                            </div>
                        </div>
                    </div>
                    <div class="bg-[var(--card-wallet-overlay)] !p-4">
                        <div>
                            <MudText Class="!text-[22px] text-[var(--card-wallet-subtext)]! !font-semibold">
                                Account02
                            </MudText>
                        </div>
                        <div class="flex items-center !gap-2">
                            <MudText Class="text-[var(--card-wallet-subtext)]!">
                                addr1q9rvp...az138441s15a
                            </MudText>
                            <MudIconButton
                                Icon="@BurizaIcons.CopySymbolIcon"
                                Class="!p-0 [&_.mud-icon-root]:!text-base [&_.mud-icon-root]:text-[var(--card-wallet-subtext)]/60!"
                            />
                        </div>
                    </div>
                </MudCard>
                <MudCard 
                    Class="!h-full !bg-[var(--mud-palette-dark)] !rounded-[16px] !p-4 w-[15%] xl:w-[10%]"
                >
                    <div class="w-full h-full border-2 border-dashed border-[var(--mud-palette-secondary-text)] !rounded-[8px] flex items-center justify-center" style="border-width: 3px;"
                        <MudIcon
                            Icon="@BurizaIcons.AddSymbolIcon"
                            Class="!text-[var(--mud-palette-secondary-text)]"
                        />
                    </div>
                </MudCard>
            </div>
            <div class="!px-[3px] !py-0 h-[10px] w-full flex justify-end items-center !gap-1 !mt-4 !mb-3">
                <div class="@($"rounded-full h-[7px] transition-all duration-300 {(!IsCard2Expanded ? "bg-[var(--mud-palette-primary)] w-[30px]" : "bg-[var(--mud-palette-gray-darker)] w-[12px]")}")" />
                <div class="@($"rounded-full h-[7px] transition-all duration-300 {(IsCard2Expanded ? "bg-[var(--mud-palette-primary)] w-[30px]" : "bg-[var(--mud-palette-gray-darker)] w-[12px]")}")" />
            </div>
        </div>
        <MudCard
            Class="flex-row justify-between !bg-[var(--mud-palette-primary)] !p-4 !rounded-[12px] w-full !min-h-[172px] md:!hidden"
        >
            <div class="h-full flex flex-col justify-between">
                <div>
                    <div class="[&_.mud-select]:!w-max">
                        <BurizaSelect TItem="string"
                            Variant="Variant.Outlined"
                            Value="@("Account01")"
                            AdornmentIcon="@Icons.Material.Filled.KeyboardArrowDown"
                            ToStringFunc="@(item => item)"
                            Class="[&_.mud-input]:!gap-2 [&_input]:!py-[12px] [&_.mud-input-slot]:!py-0 [&_.mud-input-slot]:!px-0 border-none! [&_.mud-input-slot]:!font-bold [&_.mud-input-slot]:text-[var(--mud-palette-tertiary)]! [&_.mud-icon-root]:text-[var(--mud-palette-tertiary)]!"
                        >
                            <MudSelectItem Value="@("Account01")">Account01</MudSelectItem>
                            <MudSelectItem Value="@("Account02")">Account02</MudSelectItem>
                            <MudSelectItem Value="@("Account03")">Account03</MudSelectItem>
                        </BurizaSelect>
                    </div>
                    <div class="flex items-center !gap-2">
                        <MudText Class="!text-xs text-[var(--mud-palette-tertiary)]!">
                            addr1q9rvp...az138441s15a
                        </MudText>
                        <MudIconButton
                            Icon="@BurizaIcons.CopySymbolIcon"
                            Class="!p-0 [&_.mud-icon-root]:!text-base [&_.mud-icon-root]:text-[var(--mud-palette-tertiary)]/60!"
                        />
                    </div>
                </div>
                <div>
                    <MudText Class="!font-bold !text-[28px] text-[var(--mud-palette-tertiary)]!">
                        $ 1,152.23
                    </MudText>
                </div>
                <div>
                    <MudChip
                        T="string"
                        Class="!bg-[var(--mud-palette-success-darken)] !text-[var(--mud-palette-success-lighten)] !font-semibold !m-0"
                    >
                        +$1,234.95
                    </MudChip>
                </div>
            </div>
            <div class="h-full flex flex-col items-end justify-between">
                <div>
                    <MudImage
                        Alt="nft profile"
                        Src="@Nfts.Nft1"
                        Class="!w-13 aspect-square !rounded-[8px]"
                    />
                </div>
                <div>
                    <MudChip
                        T="string"
                        Class="!bg-[var(--mud-palette-success-darken)] !text-[var(--mud-palette-success-lighten)] !font-semibold !m-0"
                    >
                        <MudIcon
                            Icon="@BurizaIcons.ArrowUp1Icon"
                            Class="!mr-[-2px] !ml-[-6px]"
                        />
                        <span>
                            +28.00%
                        </span>
                    </MudChip>
                </div>
            </div>
        </MudCard>
       <div class="w-full md:hidden">
            <BurizaTabs
                Class="!w-full [&_.mud-tab-active]:!bg-transparent [&_.mud-tooltip-root]:!w-full [&_.mud-tabs-tabbar-wrapper]:!gap-2 [&_.mud-tabs-tabbar-wrapper]:!max-w-full [&_.mud-tabs-tabbar-wrapper]:!w-full"
            >
                <MudTabPanel 
                    Text="Token" 
                    Icon="@BurizaIcons.TokenSymbolIcon"
                    Class="w-full bg-[var(--mud-palette-dark)]"
                    Style="border-radius: 30px 10px 10px 30px"
                />
                <MudTabPanel 
                    Text="NFT" 
                    Icon="@BurizaIcons.NftSymbolIcon"
                    Class="w-full bg-[var(--mud-palette-dark)]"
                    Style="border-radius: 10px 30px 30px 10px"
                />
            </BurizaTabs>
       </div>
        <div class="w-full md:bg-[var(--mud-palette-dark)] md:!pt-4 md:!rounded-[16px] ">
            <div class="flex items-center justify-between !mb-2 md:!mb-5 md:!px-4 xl:!px-6">
                <div class="max-md:justify-between w-full flex items-center !gap-3">
                    <div>
                        <MudText Class="!font-semibold !text-[22px]">
                            Portfolio
                        </MudText>
                    </div>
                    <div>
                        <MudIconButton
                            Icon="@BurizaIcons.FilterSymbolIcon"
                            Class="[&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)] !p-0"
                        />
                    </div>
                </div>
                <div class="max-md:hidden w-full flex items-center justify-end">
                    <BurizaTabs
                        Class="!max-w-[318px] !w-full [&_.mud-tab-active]:!bg-transparent [&_.mud-tooltip-root]:!w-full [&_.mud-tabs-tabbar-wrapper]:!gap-2 [&_.mud-tabs-tabbar-wrapper]:!max-w-full [&_.mud-tabs-tabbar-wrapper]:!w-full [&_.mud-tooltip-root]: [&_.mud-tabs-scroll-button]:hidden"
                    >
                        <MudTabPanel 
                            Text="Token" 
                            Icon="@BurizaIcons.TokenSymbolIcon"
                            Class="w-full bg-[var(--mud-palette-gray-default)] !min-w-[100px] max-xl:!gap-0"
                            Style="border-radius: 30px 10px 10px 30px"
                        />
                        <MudTabPanel 
                            Text="NFT" 
                            Icon="@BurizaIcons.NftSymbolIcon"
                            Class="w-full bg-[var(--mud-palette-gray-default)] !min-w-[100px] max-xl:!gap-0"
                            Style="border-radius: 10px 30px 30px 10px"
                        />
                    </BurizaTabs>
                </div>
            </div>
            <div class="!pb-11 min-h-[210px] !space-y-2 overflow-y-auto !max-h-[calc(100vh-552px)] !rounded-[12px] md:!max-h-[calc(100vh-604px)] md:!pb-13 lg:max-h-[calc(100vh-426px)] lg:!pb-4 lg:!max-h-[calc(100vh-527px)] md:!px-4 xl:!px-6">
                @for(int i=0; i < 10; i++)
                {
                    <BurizaAssetCard
                        AssetIcon="@Tokens.Ada"
                        AssetName="ADA"
                        PricePercentage="12.18f"
                        AssetAmount="123.21f"
                        UsdConversion="152.31f"
                    />
                }
            </div>
        </div>
    </div>
</section>