@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources
@using Buriza.UI.Data
@using Buriza.Data.Models.Common
@using Buriza.Data.Models.Enums

@page "/"
@page "/popup.html"
@page "/options.html"
@page "/index.html"

@namespace Buriza.UI.Components.Pages

<PageTitle>Buriza</PageTitle>

<section class="min-h-[600px] h-screen">
    <div class="max-[376px]:!gap-2 max-[376px]:!pb-4 max-[376px]:!pt-4 container mx-auto h-full w-full flex flex-col items-center !px-4 !pb-8 !pt-16 !gap-3">
        <div class="w-full flex items-center justify-between">
            <div>
                <MudImage
                    Alt="Buriza Logo"
                    Src="@(AppStateService.IsDarkMode ? Logos.BurizaDark : Logos.BurizaLight)"
                    Class="!w-24"
                />
            </div>
            <div class="flex items-center !gap-2">
                <div class="flex items-center !gap-2">
                    <div class="inline-block p-[2px]! rounded-full xl:p-1 relative">
                        <div
                            class="w-2 left-[2px] top-[2px] absolute aspect-square bg-[var(--mud-palette-success)]/60 delay-150! rounded-full animate-ping xl:p-1!" />
                        <div class="w-2 aspect-square bg-[var(--mud-palette-success)] rounded-full" />
                    </div>
                    <div>
                        <MudText Class="!text-[var(--mud-palette-success)]">
                            <span>
                                Block
                            </span>
                            <span>
                                #12345
                            </span>
                        </MudText>
                    </div>
                </div>
                <div>
                    <MudBadge
                        BadgeClass="!bg-[var(--mud-palette-error)] !min-w-2 !px-1 !h-2 !top-[2px] !left-[13px]"
                    >
                        <MudIconButton
                            Icon="@BurizaIcons.NotificationIcon"
                            Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                        />
                    </MudBadge>
                </div>
            </div>
        </div>
        <MudCard
            Class="flex-row justify-between !bg-[var(--mud-palette-primary)] !p-4 !rounded-[12px] w-full !min-h-[172px]"
        >
            <div class="h-full flex flex-col justify-between">
                <div>
                    <div class="[&_.mud-select]:!w-max">
                        <BurizaSelect TItem="string"
                            Variant="Variant.Outlined"
                            Value="@("Account01")"
                            AdornmentIcon="@Icons.Material.Filled.KeyboardArrowDown"
                            ToStringFunc="@(item => item)"
                            Class="[&_.mud-input]:!gap-2 [&_input]:!py-[12px] [&_.mud-input-slot]:!py-0 [&_.mud-input-slot]:!px-0 border-none! [&_.mud-input-slot]:!font-bold [&_.mud-input-slot]:text-[var(--mud-palette-tertiary)]! [&_.mud-icon-root]:text-[var(--mud-palette-tertiary)]!"
                        >
                            <MudSelectItem Value="@("Account01")">Account01</MudSelectItem>
                            <MudSelectItem Value="@("Account02")">Account02</MudSelectItem>
                            <MudSelectItem Value="@("Account03")">Account03</MudSelectItem>
                        </BurizaSelect>
                    </div>
                    <div class="flex items-center !gap-2">
                        <MudText Class="!text-xs text-[var(--mud-palette-tertiary)]!">
                            addr1q9rvp...az138441s15a
                        </MudText>
                        <MudIconButton
                            Icon="@BurizaIcons.CopySymbolIcon"
                            Class="!p-0 [&_.mud-icon-root]:!text-base [&_.mud-icon-root]:text-[var(--mud-palette-tertiary)]/60!"
                        />
                    </div>
                </div>
                <div>
                    <MudText Class="!font-bold !text-[28px] text-[var(--mud-palette-tertiary)]!">
                        $ 1,152.23
                    </MudText>
                </div>
                <div>
                    <MudChip
                        T="string"
                        Class="!bg-[var(--mud-palette-success-darken)] !text-[var(--mud-palette-success-lighten)] !font-semibold !m-0"
                    >
                        +$1,1234.95
                    </MudChip>
                </div>
            </div>
            <div class="h-full flex flex-col items-end justify-between">
                <div>
                    <MudImage
                        Alt="nft profile"
                        Src="@Nfts.Nft1"
                        Class="!w-13 aspect-square !rounded-[8px]"
                    />
                </div>
                <div>
                    <MudChip
                        T="string"
                        Class="!bg-[var(--mud-palette-success-darken)] !text-[var(--mud-palette-success-lighten)] !font-semibold !m-0"
                    >
                        <MudIcon
                            Icon="@BurizaIcons.ArrowUp1Icon"
                            Class="!mr-[-2px] !ml-[-6px]"
                        />
                        <span>
                            +28.00%
                        </span>
                    </MudChip>
                </div>
            </div>
        </MudCard>
       <div class="w-full">
            <BurizaTabs
                Class="!w-full [&_.mud-tab-active]:!bg-transparent [&_.mud-tooltip-root]:!w-full [&_.mud-tabs-tabbar-wrapper]:!gap-2 [&_.mud-tabs-tabbar-wrapper]:!max-w-full [&_.mud-tabs-tabbar-wrapper]:!w-full"
                @bind-ActivePanelIndex="AppStateService.SelectedAssetTypeIndex"
            >
                <MudTabPanel 
                    Text="Token" 
                    Icon="@BurizaIcons.TokenSymbolIcon"
                    Class="w-full bg-[var(--mud-palette-dark)]"
                    Style="border-radius: 30px 10px 10px 30px"
                />
                <MudTabPanel 
                    Text="NFT" 
                    Icon="@BurizaIcons.NftSymbolIcon"
                    Class="w-full bg-[var(--mud-palette-dark)]"
                    Style="border-radius: 10px 30px 30px 10px"
                />
            </BurizaTabs>
       </div>
        <div class="w-full">
            <div class="w-full flex items-center justify-between !mb-2">
                <div>
                    <MudText Class="!font-semibold !text-[22px]">
                        Portfolio
                    </MudText>
                </div>
                <div>
                    <MudIconButton
                        Icon="@BurizaIcons.FilterSymbolIcon"
                        Class="[&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)] !p-0"
                    />
                </div>
            </div>
            <div class="min-h-[210px] max-[376px]:max-h-[calc(100vh-390px)] !space-y-2 overflow-y-auto max-h-[calc(100vh-466px)] !rounded-[12px] pb-11">
                @if (AppStateService.SelectedAssetType == AssetType.Token)
                {
                    @foreach(TokenAsset tokenAsset in TokenAssetData.GetDummyTokenAssets())
                    {
                        <BurizaAssetCard
                            AssetIcon="@tokenAsset.AssetIcon"
                            AssetName="@tokenAsset.AssetName"
                            PricePercentage="@tokenAsset.PricePercentage"
                            AssetAmount="@tokenAsset.AssetAmount"
                            UsdConversion="@tokenAsset.UsdConversion"
                        />
                    }
                }
                else
                {
                    @foreach(NftAsset nftAsset in NftAssetData.GetDummyNftAssets())
                    {
                        <BurizaAssetCard
                            AssetIcon="@nftAsset.AssetIcon"
                            AssetName="@nftAsset.AssetName"
                            PricePercentage="@nftAsset.PricePercentage"
                            AssetAmount="@nftAsset.AssetAmount"
                            UsdConversion="@nftAsset.UsdConversion"
                            AssetType="AssetType.NFT"
                            CollectionName="@nftAsset.CollectionName"
                        />
                    }
                }
            </div>
        </div>
    </div>
</section>