@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources
@using Buriza.UI.Routing
@using Buriza.UI.Services
@using Buriza.Data.Models.Enums
@using static Buriza.Data.Models.Enums.DrawerContentType

@inherits LayoutComponentBase


<MudThemeProvider IsDarkMode="AppStateService.IsDarkMode" Theme="BurizaTheme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<main class="@($"{(IsOnRoute(Routes.Onboard, Routes.Splash) ? "" : "md:!pt-4 md:!px-4")} {(AppStateService.IsDarkMode ? "bg-[url(/_content/Buriza.UI/images/background/background_dark_mobile.webp)] sm:bg-[url(/_content/Buriza.UI/images/background/background_dark.webp)]" : "bg-[url(/_content/Buriza.UI/images/background/background_light_mobile.webp)] sm:bg-[url(/_content/Buriza.UI/images/background/background_light.webp)]")} bg-auto bg-center bg-no-repeat")">
    @if (!IsHeaderHidden)
    {
        <BurizaHeader />
    }
    <div class="@($"items-between justify-between w-full md:!gap-4 {(IsOnRoute(Routes.Onboard, Routes.Splash) ? "h-screen md:!pb-0" : "md:h-[calc(100vh-94px)] md:!pb-4")} md:flex mx-auto xl:!gap-3")">
        <div class="flex-1 min-w-0 relative md:!pt-4">
            <MudDrawerContainer Class="@($"relative {(IsOnRoute(Routes.Onboard, Routes.Splash) ? "hidden" : "max-lg:hidden")}")">
                <MudDrawer 
                    @bind-Open="@AppStateService.IsSidebarOpen" 
                    Fixed="false" 
                    Elevation="1" 
                    Variant="@DrawerVariant.Mini" 
                    Breakpoint="Breakpoint.None"
                    MiniWidth="80px"
                    Class="!h-full !shadow-sm !bg-[var(--mud-palette-drawer-background)] !overflow-visible [&_.mud-drawer-content]:overflow-hidden !rounded-[16px] !py-6 flex flex-col items-between [&_.mud-drawer-content]:justify-between"
                >
                    <div class="absolute -right-3 top-8">
                        <MudIconButton
                            Icon="@BurizaIcons.ChevronLeftIcon"
                            aria-label="open"
                            OnClick="@ToggleSidebar"
                            Class="@($"!border !border-[var(--mud-palette-divider)] !bg-[var(--mud-palette-dark)] [&_.mud-icon-root]:!text-base !p-[3px] [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)] [&_.mud-icon-root]:transition-all [&_.mud-icon-root]:duration-300 {(AppStateService.IsSidebarOpen ? "[&_.mud-icon-root]:rotate-180" : "")}")"
                        />
                    </div>
                    <div>
                        <MudNavMenu Class="!space-y-3 flex flex-col items-center justify-center !px-5 !text-[var(--mud-palette-text-primary)] [&_.mud-nav-link]:!rounded-full [&_.mud-nav-link]:!px-2 [&_.mud-nav-link]:!font-medium">
                            <BurizaNavLink Icon="@BurizaIcons.AssetIcon" Href="@Routes.Home">Assets</BurizaNavLink>
                            <BurizaNavLink Icon="@BurizaIcons.History2Icon" Href="@Routes.History">History</BurizaNavLink>
                            <BurizaNavLink Icon="@BurizaIcons.StakingSymbolIcon" Href="@Routes.Staking">Staking</BurizaNavLink>
                            <BurizaNavLink Icon="@BurizaIcons.VotingSymbolIcon" Href="@Routes.Voting">Voting</BurizaNavLink>
                            <BurizaNavLink Icon="@BurizaIcons.DappSymbolIcon" Href="@Routes.Dapp">DApps</BurizaNavLink>
                        </MudNavMenu>
                    </div>
                    <div class="!space-y-3 !px-5">
                        <MudNavMenu Class="!mt-10 !space-y-3 flex flex-col items-center justify-center !text-[var(--mud-palette-text-primary)] [&_.mud-nav-link]:!rounded-full [&_.mud-nav-link]:!px-2 [&_.mud-nav-link]:!font-medium">
                            <BurizaNavLink Icon="@BurizaIcons.NotificationIcon" Href="@Routes.Notifications">Notifications</BurizaNavLink>
                            <BurizaNavLink Icon="@BurizaIcons.SettingsSymbolIcon" OnClick="@HandleSettingsClick">Settings</BurizaNavLink>
                            <BurizaNavLink Icon="@BurizaIcons.HelpAndSupportIcon" Href="@Routes.Help">Help And Support</BurizaNavLink>
                        </MudNavMenu>
                        <div class="w-full flex items-center !gap-2 !p-2">
                            <div class="p-[2px]! rounded-full h-6 w-6 flex items-center justify-center min-w-6 xl:p-1">
                                <div class="relative">
                                    <div
                                        class="w-2 absolute aspect-square bg-[var(--mud-palette-success)]/60 delay-150! rounded-full animate-ping xl:p-1!" />
                                    <div class="w-2 aspect-square bg-[var(--mud-palette-success)] rounded-full" />
                                </div>
                            </div>
                            <div class="@($"transition-opacity duration-300 whitespace-nowrap {(AppStateService.IsSidebarOpen ? "opacity-100" : "opacity-0")}")">
                                <MudText Class="!text-[var(--mud-palette-success)]">
                                    <span>
                                        Block
                                    </span>
                                    <span>
                                        #12345
                                    </span>
                                </MudText>
                            </div>
                        </div>
                    </div>
                </MudDrawer>
                <div>
                    @Body
                </div>
            </MudDrawerContainer>
            <div class="@($"{(IsOnRoute(Routes.Onboard, Routes.Splash) ? "lg:block" : "lg:hidden")}")">
                @Body
            </div>
        </div>

        @*right sidebar*@
        @if (AppStateService.CurrentSidebarContent != SidebarContentType.None)
        {
            <RightSidebar @key="AppStateService.CurrentSidebarContent" />
        }
    </div>
</main>

<MudDrawer 
    @bind-Open="@AppStateService.IsFilterDrawerOpen" 
    Elevation="1" 
    Variant="@DrawerVariant.Temporary"
    Anchor="Anchor.End"
    Width="460px"
    Class="max-md:!hidden !bg-[var(--mud-palette-background)] !fixed"
>
    <MudDrawerHeader Class="items-center justify-between !mb-6 !px-4 !pt-8">
        @if (AppStateService.CurrentDrawerContent != TransactionStatus)
        {
            <div class="flex items-center !gap-2">
                <MudIconButton
                    Icon="@BurizaIcons.ChevronRightIcon"
                    Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                    OnClick="@HandleBackNavigation"
                />
                <MudText Class="!text-[22px] !font-medium !text-[var(--mud-palette-text-primary)]">
                    @DrawerTitle
                </MudText>
            </div>
            <div>
                @if (AppStateService.CurrentDrawerContent == Send && !AppStateService.IsSendConfirmed)
                {
                    <MudIconButton
                        Icon="@BurizaIcons.AddSymbolIcon"
                        Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                        OnClick="@HandleAddRecipient"
                    />
                }
                else if (AppStateService.CurrentDrawerContent == Receive)
                {
                    <MudIconButton
                        Icon="@(AppStateService.IsReceiveAdvancedMode ? BurizaIcons.CloseSymbolIcon : BurizaIcons.AdvancedSettings2Icon)"
                        Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                        OnClick="@(AppStateService.IsReceiveAdvancedMode ? (() => AppStateService.IsReceiveAdvancedMode = false) : HandleAdvancedModeToggle)"
                    />
                }
                else if (AppStateService.CurrentDrawerContent != Send || !AppStateService.IsSendConfirmed)
                {
                    <MudIconButton
                        Icon="@BurizaIcons.CloseSymbolIcon"
                        Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                        OnClick="@(() => AppStateService.IsFilterDrawerOpen = false)"
                    />
                }
            </div>
        }
    </MudDrawerHeader>
    <DrawerContent />
</MudDrawer>