@using Buriza.UI.Resources
@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls

@page "/dapp"

@namespace Buriza.UI.Components.Pages

<section class="max-[376px]:overflow-y-auto max-md:h-screen min-h-[600px] md:h-[calc(100vh-56px)] md:bg-[var(--mud-palette-drawer-background)] md:rounded-[16px] md:overflow-hidden lg:!ml-4 xl:!ml-8">
    <div class="max-md:hidden !px-5 !py-[18px] w-full flex items-center justify-center !gap-3 bg-[var(--mud-palette-background-gray)]">
        <div class="flex items-center !gap-2">
            <MudIconButton
                Icon="@BurizaIcons.ChevronLeftIcon"
                Class="!p-0 rotate-180 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)] [&_.mud-icon-root]:!text-2xl"
            />
            <MudIconButton
                Icon="@BurizaIcons.ChevronLeftIcon"
                Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)] [&_.mud-icon-root]:!text-2xl"
            />
        </div>
        <div class="w-full max-w-[805px]">
            <BurizaTextField
                Placeholder="Search or enter website name"
                Class="w-full [&_input]:!py-[9px] [&_input]:!text-center [&_input]:!text-[13px]"
            />
        </div>
        <div>
            <MudIconButton
                Icon="@BurizaIcons.RefreshSymbolIcon"
                Class="!p-0 [&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)] [&_.mud-icon-root]:!text-lg !w-6 !h-6"
            />
        </div>
    </div>
    <div class="max-md:!px-4 max-md:!pb-8 max-md:!mx-auto max-[376px]:!pt-3 max-[376px]:!gap-2 max-[376px]:!pb-4 h-full w-full flex flex-col items-center !pt-16 !gap-3 md:!p-8 md:!pr-0 md:overflow-y-auto">
        @if(!ShowAuthorization)
        {
            <div class="max-[376px]:block max-[376px]:fixed max-[376px]:bottom-0 max-[376px]:left-0 max-[376px]:w-screen max-[376px]:h-[136px] max-[376px]:bg-[var(--mud-palette-background)]/80 max-[376px]:backdrop-blur-xs max-[376px]:z-1 hidden"></div>  
            @*mobile carousel*@
            <div class="h-[221px] w-full flex items-center justify-center !gap-2 md:hidden">
                <div @onclick="@(() => ExpandCard(0))" 
                    class="@($"bg-cover bg-center bg-no-repeat !bg-[url(/_content/Buriza.UI/images/background/minswap_bg.webp)] {(ExpandedCard == 0 ? "w-[80%]" : "w-[20%]")} h-full rounded-[28px] cursor-pointer transition-all duration-300")">
                </div>
                <div @onclick="@(() => ExpandCard(1))"
                    class="@($"!px-4 !py-5 flex justify-between bg-cover bg-center bg-no-repeat !bg-[url(/_content/Buriza.UI/images/background/levvy_bg.webp)] {(ExpandedCard == 1 ? "w-[80%]" : "w-[20%]")} h-full rounded-[28px] cursor-pointer transition-all duration-300")">
                    <div class="@($"transition-all duration-150 overlfow-hidden {(ExpandedCard == 1 ? "opacity-100 w-full" : "opacity-0 w-0")}")">
                        <div class="!mb-2">
                            <MudImage
                                Alt="Levvy Logo"
                                Src="@Logos.LevvyLogo"
                                Class="!w-30"
                            />
                        </div>
                        <div>
                            <MudText Class="!text-[var(--dapp-levvy-tertiary)] !text-[8px] max-w-[108px]">
                                Maximize liquidity & earnings lending and borrowing tokens or NFTs.
                            </MudText>
                        </div>
                    </div>
                    <div class="@($"transition-all duration-150 {(ExpandedCard == 1 ? "opacity-100 w-[46px]" : "opacity-0 w-0")}")">
                        <MudChip
                            T="string"
                            Class="!h-[15px] !bg-[var(--dapp-levvy-primary-light)] !text-[var(--mud-palette-white)] !font-semibold !m-0 [&_.mud-chip-content]:!text-[10px]"
                        >
                            DeFi
                        </MudChip>
                    </div>
                </div>
                <div @onclick="@(() => ExpandCard(2))"
                    class="@($"bg-cover bg-center bg-no-repeat !bg-[url(/_content/Buriza.UI/images/background/dexhunter_bg.webp)] {(ExpandedCard == 2 ? "w-[80%]" : "w-[20%]")} h-full rounded-[28px] cursor-pointer transition-all duration-300")">
                </div>
            </div>

            @*desktop carousel*@
            <div class="max-md:hidden w-full !pr-8">
                <div class="w-full flex items-center justify-between h-[294px] !gap-3">
                    @*slide 1*@
                    <div @onclick="@(() => ExpandDesktopSlide(0))" 
                         class="@($"h-full {(ExpandedDesktopSlide == 0 ? "w-[100%]" : "w-[25%]")} rounded-[24px] bg-[url('/_content/Buriza.UI/images/dapp/levvy_item_1.webp')] bg-cover bg-center bg-no-repeat cursor-pointer transition-all duration-300")" />

                    @*slide 2*@
                    <div @onclick="@(() => ExpandDesktopSlide(1))" 
                         class="@($"h-full {(ExpandedDesktopSlide == 1 ? "w-[100%]" : "w-[25%]")} rounded-[24px] bg-[url('/_content/Buriza.UI/images/dapp/levvy_item_2.webp')] bg-cover bg-center bg-no-repeat cursor-pointer transition-all duration-300")" />

                    @*slide 3*@
                    <div @onclick="@(() => ExpandDesktopSlide(2))" 
                         class="@($"h-full {(ExpandedDesktopSlide == 2 ? "w-[100%]" : "w-[25%]")} rounded-[24px] bg-[url('/_content/Buriza.UI/images/dapp/levvy_item_3.webp')] bg-cover bg-center bg-no-repeat cursor-pointer transition-all duration-300")" />

                    @*slide 4*@
                    <div @onclick="@(() => ExpandDesktopSlide(3))" 
                         class="@($"h-full {(ExpandedDesktopSlide == 3 ? "w-[100%]" : "w-[15%]")} rounded-[24px] bg-[url('/_content/Buriza.UI/images/dapp/levvy_item_4.webp')] bg-cover bg-center bg-no-repeat cursor-pointer transition-all duration-300")" />
                </div>
                <div class="!px-[3px] !py-0 h-[10px] w-full flex justify-center items-center !gap-2 !mt-8 !pb-6">
                    <div @onclick="@(() => ExpandDesktopSlide(0))" 
                         class="@($"rounded-full h-[7px] transition-all duration-300 cursor-pointer {(ExpandedDesktopSlide == 0 ? "bg-[var(--mud-palette-primary)] w-[35px]" : "bg-[var(--mud-palette-gray-darker)] w-[14px]")}")" />
                    <div @onclick="@(() => ExpandDesktopSlide(1))" 
                         class="@($"rounded-full h-[7px] transition-all duration-300 cursor-pointer {(ExpandedDesktopSlide == 1 ? "bg-[var(--mud-palette-primary)] w-[35px]" : "bg-[var(--mud-palette-gray-darker)] w-[14px]")}")" />
                    <div @onclick="@(() => ExpandDesktopSlide(2))" 
                         class="@($"rounded-full h-[7px] transition-all duration-300 cursor-pointer {(ExpandedDesktopSlide == 2 ? "bg-[var(--mud-palette-primary)] w-[35px]" : "bg-[var(--mud-palette-gray-darker)] w-[14px]")}")" />
                    <div @onclick="@(() => ExpandDesktopSlide(3))" 
                         class="@($"rounded-full h-[7px] transition-all duration-300 cursor-pointer {(ExpandedDesktopSlide == 3 ? "bg-[var(--mud-palette-primary)] w-[35px]" : "bg-[var(--mud-palette-gray-darker)] w-[14px]")}")" />
                </div>
            </div>

            <div class="w-full">
                <div>
                    <div class="!mb-4">
                        <MudToggleGroup
                            T="string"
                            @bind-Value="SelectedCategory"
                            Outlined="false"
                            Class="[&_.mud-button-root]:!py-1 [&_.mud-button-root]:!px-3 !h-[32px] !flex items-center justify-between [&_.mud-toggle-item]:!normal-case [&_.mud-button-label]:!font-medium [&_.mud-button]:!bg-[var(--mud-palette-gray-darker)] [&_.mud-button-label]:!text-[var(--mud-palette-text-primary)] [&_.mud-button]:!rounded-full [&_.mud-toggle-item-selected]:!bg-[var(--mud-palette-primary)] [&_.mud-toggle-item-selected_.mud-button-label]:!text-[var(--mud-palette-tertiary)] [&_.mud-button-root]:!w-max !overflow-x-auto !gap-2 !flex-nowrap [&_.mud-button-root]:!flex-shrink-0 md:[&_.mud-button-label]:!text-base md:[&_.mud-button-root]:!py-2 md:[&_.mud-button-root]:!px-6 md:!h-auto"
                        >
                            <MudToggleItem Value="@("All")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Defi")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Exchanges")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Games")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Market")" Class="!rounded-full"/>

                            <MudToggleItem Value="@("All")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Defi")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Exchanges")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Games")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Market")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("All")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Defi")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Exchanges")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Games")" Class="!rounded-full"/>
                            <MudToggleItem Value="@("Market")" Class="!rounded-full"/>
                        </MudToggleGroup>
                    </div>

                    @*dapp mobile*@
                    <div class="grid grid-cols-2 !gap-3 h-60 sm:hidden">
                        <div @onclick="@(() => OnDappCardClicked())">
                            <BurizaDappCard
                                DappTitle="HunterDex"
                                DappType="Exchanges"
                                DappClass="[&_.mud-typography]:!text-black"
                                DappThemePrimary="!bg-[var(--dapp-hunterdex-primary)]"
                                DappThemeSecondary="bg-[var(--dapp-hunterdex-secondary)]/40"
                                DappIcon="@Logos.Hunterdex"
                            />
                        </div>
                        <div @onclick="@(() => OnDappCardClicked())">
                            <BurizaDappCard
                                DappTitle="Levvy"
                                DappType="Defi"
                                DappClass="[&_.mud-typography]:!text-black"
                                DappThemePrimary="!bg-[var(--dapp-levvy-primary)]"
                                DappThemeSecondary="bg-[var(--dapp-levvy-secondary)]/40"
                                DappIcon="@Logos.Levvy"
                            />
                        </div>
                        <div @onclick="@(() => OnDappCardClicked())">
                            <BurizaDappCard
                                DappTitle="Minswap"
                                DappType="Defi"
                                DappClass="[&_.mud-typography]:!text-black"
                                DappThemePrimary="!bg-[var(--dapp-minswap-primary)]"
                                DappThemeSecondary="bg-[var(--dapp-minswap-secondary)]/40"
                                DappIcon="@Logos.Minswap"
                            />
                        </div>
                        <div @onclick="@(() => OnDappCardClicked())">
                            <BurizaDappCard
                                DappTitle="DANZO"
                                DappType="Games, Defi"
                                DappClass="[&_.mud-typography]:!text-black"
                                DappThemePrimary="!bg-[var(--dapp-danzo-primary)]"
                                DappThemeSecondary="bg-[var(--dapp-danzo-secondary)]/40"
                                DappIcon="@Logos.Danzo"
                            />
                        </div>
                    </div>

                    @*dapp desktop*@
                    <div class="max-sm:hidden gap-4 grid grid-rows-2">
                        <div class="flex gap-4 items-center flex-nowrap overflow-x-auto">
                            @for(int i=0; i<6; i++)
                            {
                                <div @onclick="@(() => OnDappCardClicked())">
                                    <BurizaDappCard
                                        DappTitle="HunterDex"
                                        DappType="Exchanges"
                                        DappClass="[&_.mud-typography]:!text-black w-[220px]! h-[90px]!"
                                        DappThemePrimary="!bg-[var(--dapp-hunterdex-primary)]"
                                        DappThemeSecondary="bg-[var(--dapp-hunterdex-secondary)]/40"
                                        DappIcon="@Logos.Hunterdex"
                                    />
                                </div>
                                <div @onclick="@(() => OnDappCardClicked())">
                                    <BurizaDappCard
                                        DappTitle="Levvy"
                                        DappType="Defi"
                                        DappClass="[&_.mud-typography]:!text-black w-[220px]! h-[90px]!"
                                        DappThemePrimary="!bg-[var(--dapp-levvy-primary)]"
                                        DappThemeSecondary="bg-[var(--dapp-levvy-secondary)]/40"
                                        DappIcon="@Logos.Levvy"
                                    />
                                </div>
                                <div @onclick="@(() => OnDappCardClicked())">
                                    <BurizaDappCard
                                        DappTitle="Minswap"
                                        DappType="Defi"
                                        DappClass="[&_.mud-typography]:!text-black w-[220px]! h-[90px]!"
                                        DappThemePrimary="!bg-[var(--dapp-minswap-primary)]"
                                        DappThemeSecondary="bg-[var(--dapp-minswap-secondary)]/40"
                                        DappIcon="@Logos.Minswap"
                                    />
                                </div>
                                <div @onclick="@(() => OnDappCardClicked())">
                                    <BurizaDappCard
                                        DappTitle="DANZO"
                                        DappType="Games, Defi"
                                        DappClass="[&_.mud-typography]:!text-black w-[220px]! h-[90px]!"
                                        DappThemePrimary="!bg-[var(--dapp-danzo-primary)]"
                                        DappThemeSecondary="bg-[var(--dapp-danzo-secondary)]/40"
                                        DappIcon="@Logos.Danzo"
                                    />
                                </div>
                            }
                        </div>
                        <div class="flex gap-4 items-center flex-nowrap overflow-x-auto">
                            @for(int i=0; i<6; i++)
                            {
                                <div @onclick="@(() => OnDappCardClicked())">
                                    <BurizaDappCard
                                        DappTitle="Levvy"
                                        DappType="Defi"
                                        DappClass="[&_.mud-typography]:!text-black w-[220px]! h-[90px]!"
                                        DappThemePrimary="!bg-[var(--dapp-levvy-primary)]"
                                        DappThemeSecondary="bg-[var(--dapp-levvy-secondary)]/40"
                                        DappIcon="@Logos.Levvy"
                                    />
                                </div>
                                <div @onclick="@(() => OnDappCardClicked())">
                                    <BurizaDappCard
                                        DappTitle="DANZO"
                                        DappType="Games, Defi"
                                        DappClass="[&_.mud-typography]:!text-black w-[220px]! h-[90px]!"
                                        DappThemePrimary="!bg-[var(--dapp-danzo-primary)]"
                                        DappThemeSecondary="bg-[var(--dapp-danzo-secondary)]/40"
                                        DappIcon="@Logos.Danzo"
                                    />
                                </div>
                                <div @onclick="@(() => OnDappCardClicked())">
                                    <BurizaDappCard
                                        DappTitle="HunterDex"
                                        DappType="Exchanges"
                                        DappClass="[&_.mud-typography]:!text-black w-[220px]! h-[90px]!"
                                        DappThemePrimary="!bg-[var(--dapp-hunterdex-primary)]"
                                        DappThemeSecondary="bg-[var(--dapp-hunterdex-secondary)]/40"
                                        DappIcon="@Logos.Hunterdex"
                                    />
                                </div>
                                <div @onclick="@(() => OnDappCardClicked())">
                                    <BurizaDappCard
                                        DappTitle="Minswap"
                                        DappType="Defi"
                                        DappClass="[&_.mud-typography]:!text-black w-[220px]! h-[90px]!"
                                        DappThemePrimary="!bg-[var(--dapp-minswap-primary)]"
                                        DappThemeSecondary="bg-[var(--dapp-minswap-secondary)]/40"
                                        DappIcon="@Logos.Minswap"
                                    />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="max-md:!mb-[136px] md:!mb-[140px] lg:!mb-[80px]">
                    <div class="!mt-4 !mb-2">
                        <MudText Class="!font-medium md:!text-xl">
                            Favorites
                        </MudText>
                    </div>

                    @*favorites mobile*@
                    <div class="w-full grid grid-cols-4 !gap-6 sm:hidden">
                        <div>
                            <MudCard
                                Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-hunterdex-primary)] aspect-square relative"
                            >
                                <div class="absolute right-1 top-1 z-1">
                                    <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                </div>
                                <div>
                                    <MudImage
                                        Alt="HunterDex"
                                        Src="@Logos.Hunterdex"
                                        Class="!size-10 !aspect-square !rounded-full"
                                    />
                                </div>
                            </MudCard>
                            <div>
                                <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                    HunterDex
                                </MudText>
                            </div>
                        </div>
                        <div>
                            <MudCard
                                Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-levvy-primary)] aspect-square relative"
                            >
                                <div class="absolute right-1 top-1 z-1">
                                    <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                </div>
                                <div>
                                    <MudImage
                                        Alt="Levvy"
                                        Src="@Logos.Levvy"
                                        Class="!size-10 !aspect-square !rounded-full"
                                    />
                                </div>
                            </MudCard>
                            <div>
                                <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                    Levvy
                                </MudText>
                            </div>
                        </div>
                        <div>
                            <MudCard
                                Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-minswap-primary)] aspect-square relative"
                            >
                                <div class="absolute right-1 top-1 z-1">
                                    <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                </div>
                                <div>
                                    <MudImage
                                        Alt="Levvy"
                                        Src="@Logos.Minswap"
                                        Class="!size-10 !aspect-square !rounded-full"
                                    />
                                </div>
                            </MudCard>
                            <div>
                                <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                    Minswap
                                </MudText>
                            </div>
                        </div>
                        <div>
                            <MudCard
                                Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-danzo-primary)] aspect-square relative"
                            >
                                <div class="absolute right-1 top-1 z-1">
                                    <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                </div>
                                <div>
                                    <MudImage
                                        Alt="DANZO"
                                        Src="@Logos.Danzo"
                                        Class="!size-10 !aspect-square !rounded-full"
                                    />
                                </div>
                            </MudCard>
                            <div>
                                <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                    DANZO
                                </MudText>
                            </div>
                        </div>
                    </div>
                    
                    @*favorites desktop*@
                    <div class="max-sm:hidden gap-4 grid grid-rows-2">
                        <div class="flex gap-14 items-center flex-nowrap overflow-x-auto">
                            @for(int i=0; i<6; i++)
                            {
                                <div>
                                    <MudCard
                                        Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-hunterdex-primary)] aspect-square relative !w-16"
                                    >
                                        <div class="absolute right-1 top-1 z-1">
                                            <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                        </div>
                                        <div>
                                            <MudImage
                                                Alt="HunterDex"
                                                Src="@Logos.Hunterdex"
                                                Class="!size-10 !aspect-square !rounded-full"
                                            />
                                        </div>
                                    </MudCard>
                                    <div>
                                        <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                            HunterDex
                                        </MudText>
                                    </div>
                                </div>
                                <div>
                                    <MudCard
                                        Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-levvy-primary)] aspect-square relative !w-16"
                                    >
                                        <div class="absolute right-1 top-1 z-1">
                                            <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                        </div>
                                        <div>
                                            <MudImage
                                                Alt="Levvy"
                                                Src="@Logos.Levvy"
                                                Class="!size-10 !aspect-square !rounded-full"
                                            />
                                        </div>
                                    </MudCard>
                                    <div>
                                        <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                            Levvy
                                        </MudText>
                                    </div>
                                </div>
                                <div>
                                    <MudCard
                                        Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-minswap-primary)] aspect-square relative !w-16"
                                    >
                                        <div class="absolute right-1 top-1 z-1">
                                            <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                        </div>
                                        <div>
                                            <MudImage
                                                Alt="Levvy"
                                                Src="@Logos.Minswap"
                                                Class="!size-10 !aspect-square !rounded-full"
                                            />
                                        </div>
                                    </MudCard>
                                    <div>
                                        <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                            Minswap
                                        </MudText>
                                    </div>
                                </div>
                                <div>
                                    <MudCard
                                        Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-danzo-primary)] aspect-square relative !w-16"
                                    >
                                        <div class="absolute right-1 top-1 z-1">
                                            <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                        </div>
                                        <div>
                                            <MudImage
                                                Alt="DANZO"
                                                Src="@Logos.Danzo"
                                                Class="!size-10 !aspect-square !rounded-full"
                                            />
                                        </div>
                                    </MudCard>
                                    <div>
                                        <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                            DANZO
                                        </MudText>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="flex gap-14 items-center flex-nowrap overflow-x-auto">
                            @for(int i=0; i<6; i++)
                            {
                                <div>
                                    <MudCard
                                        Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-hunterdex-primary)] aspect-square relative !w-16"
                                    >
                                        <div class="absolute right-1 top-1 z-1">
                                            <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                        </div>
                                        <div>
                                            <MudImage
                                                Alt="HunterDex"
                                                Src="@Logos.Hunterdex"
                                                Class="!size-10 !aspect-square !rounded-full"
                                            />
                                        </div>
                                    </MudCard>
                                    <div>
                                        <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                            HunterDex
                                        </MudText>
                                    </div>
                                </div>
                                <div>
                                    <MudCard
                                        Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-levvy-primary)] aspect-square relative !w-16"
                                    >
                                        <div class="absolute right-1 top-1 z-1">
                                            <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                        </div>
                                        <div>
                                            <MudImage
                                                Alt="Levvy"
                                                Src="@Logos.Levvy"
                                                Class="!size-10 !aspect-square !rounded-full"
                                            />
                                        </div>
                                    </MudCard>
                                    <div>
                                        <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                            Levvy
                                        </MudText>
                                    </div>
                                </div>
                                <div>
                                    <MudCard
                                        Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-minswap-primary)] aspect-square relative !w-16"
                                    >
                                        <div class="absolute right-1 top-1 z-1">
                                            <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                        </div>
                                        <div>
                                            <MudImage
                                                Alt="Levvy"
                                                Src="@Logos.Minswap"
                                                Class="!size-10 !aspect-square !rounded-full"
                                            />
                                        </div>
                                    </MudCard>
                                    <div>
                                        <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                            Minswap
                                        </MudText>
                                    </div>
                                </div>
                                <div>
                                    <MudCard
                                        Class="!rounded-[8px] !items-center !justify-center !bg-[var(--dapp-danzo-primary)] aspect-square relative !w-16"
                                    >
                                        <div class="absolute right-1 top-1 z-1">
                                            <MudIconButton Icon="@BurizaIcons.FavoriteSymbolFilledIcon" Class="!p-0 [&_.mud-icon-root]:!text-white"/>
                                        </div>
                                        <div>
                                            <MudImage
                                                Alt="DANZO"
                                                Src="@Logos.Danzo"
                                                Class="!size-10 !aspect-square !rounded-full"
                                            />
                                        </div>
                                    </MudCard>
                                    <div>
                                        <MudText Class="!text-xs !font-medium !text-center !mt-2">
                                            DANZO
                                        </MudText>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="max-[376px]:!bottom-[81px] w-[calc(100%-32px)] bg-[var(--mud-palette-dark-darken)] flex items-center justify-between rounded-[12px] !p-3 fixed bottom-28 !h-11 z-20 sm:max-w-[430px] md:hidden">                
                <MudIconButton
                    Icon="@BurizaIcons.SearchSymbolIcon"
                    Class="!p-0"
                />
                <BurizaTextField
                    Placeholder="Search or enter website name"
                    Class="max-[376px]:[&_input::placeholder]:!text-[14px] !h-11 [&_.mud-input-slot]:py-3! bg-transparent! [&_input::placeholder]:text-center [&_input]:pl-3! [&_.mud-input]:pr-3!"
                />
                <MudIconButton
                    Icon="@BurizaIcons.MicrophoneIcon"
                    Class="!p-0"
                />
            </div>
        }
        else
        {            
            <div class="max-[376px]:min-h-[calc(100vh-98px)]  w-full h-[calc(100vh-212px)] flex flex-col items-center justify-between">
                <div class="w-full flex items-center justify-between">
                    <div class="flex items-center">
                        <div>
                            <MudIconButton
                                Icon="@BurizaIcons.ChevronRightIcon"
                                Class="[&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                                OnClick="() => ShowAuthorization = false"
                            />
                        </div>
                        <div>
                            <MudText Class="!text-[22px] !font-medium">
                                Authorize App
                            </MudText>
                        </div>
                    </div>
                    <div>
                        <MudIconButton
                            Icon="@BurizaIcons.CloseSymbolIcon"
                            Class="[&_.mud-icon-root]:!text-[var(--mud-palette-text-primary)]"
                            OnClick="() => ShowAuthorization = false"
                        />
                    </div>
                </div>
                <div class="w-full">
                    <div class="max-[376px]:!gap-3 w-full flex flex-col items-center justify-center !text-center !gap-6">
                        <div>
                            <MudImage
                                Alt="DexHunter Logo"
                                Src="@Logos.Hunterdex"
                                Class="!w-20"
                            />
                        </div>
                        <div>
                            <MudText Class="!font-bold !text-2xl">
                                DexHunter
                            </MudText>
                            <MudText Class="!text-xl !text-[var(--mud-palette-text-secondary)]">
                                Exchanges
                            </MudText>
                        </div>
                    </div>
                    <div class="relative rounded-[12px] border border-[#414754] !p-4 !mt-6 !space-y-3">
                        <div class="absolute -top-3 left-3 !bg-[var(--mud-palette-background)] !px-2">
                            <MudText Class="!text-sm">
                                Allow this site to:
                            </MudText>
                        </div>
                        <MudListItem
                            T="string"
                            Disabled="true"
                            Text="See which network the wallet is connected to" 
                            Icon="@Icons.Material.Outlined.CheckCircle"
                            Class="p-0! !text-[var(--mud-palette-text-secondary)] [&_.mud-list-item-icon]:min-w-auto! gap-2! [&_.mud-list-item-icon_.mud-icon-root]:!text-[var(--mud-palette-primary)] [&_.mud-list-item-icon_.mud-icon-root]:!text-xl [&_.mud-list-item-text>p]:text-sm!" 
                        />
                        <MudListItem
                            T="string"
                            Disabled="true"
                            Text="See your wallet UTXOs" 
                            Icon="@Icons.Material.Outlined.CheckCircle"
                            Class="p-0! !text-[var(--mud-palette-text-secondary)] [&_.mud-list-item-icon]:min-w-auto! gap-2! [&_.mud-list-item-icon_.mud-icon-root]:!text-[var(--mud-palette-primary)] [&_.mud-list-item-icon_.mud-icon-root]:!text-xl [&_.mud-list-item-text>p]:text-sm!" 
                        />
                        <MudListItem
                            T="string"
                            Disabled="true"
                            Text="See your wallet balance" 
                            Icon="@Icons.Material.Outlined.CheckCircle"
                            Class="p-0! !text-[var(--mud-palette-text-secondary)] [&_.mud-list-item-icon]:min-w-auto! gap-2! [&_.mud-list-item-icon_.mud-icon-root]:!text-[var(--mud-palette-primary)] [&_.mud-list-item-icon_.mud-icon-root]:!text-xl [&_.mud-list-item-text>p]:text-sm!" 
                        />
                        <MudListItem
                            T="string"
                            Disabled="true"
                            Text="See your wallet different addresses, including reward account" 
                            Icon="@Icons.Material.Outlined.CheckCircle"
                            Class="p-0! !text-[var(--mud-palette-text-secondary)] [&_.mud-list-item-icon]:min-w-auto! gap-2! [&_.mud-list-item-icon_.mud-icon-root]:!text-[var(--mud-palette-primary)] [&_.mud-list-item-icon_.mud-icon-root]:!text-xl [&_.mud-list-item-text>p]:text-sm!" 
                        />
                    </div>
                    <div>
                    </div>
                </div>
                <div class="max-[376px]: w-full">
                    <BurizaButton
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Class="!w-full [&_.mud-button-label]:!gap-2"
                        OnClick="() => ShowAuthorization = false"
                    >
                        <MudIcon
                            Icon="@BurizaIcons.LinkSymbolIcon"
                        />
                        <span>
                            Authorize DexHunter
                        </span>
                    </BurizaButton>
                </div>
            </div>
        }
    </div>
</section>